<form #resetForm="ngForm" (ngSubmit)="submitReset()">

  <p class="prompt">Enter your new password.</p>

  <div class="form-group">
    <label for="pw">Password<span class="req">required (8 or more characters)</span></label>
    <input type="password" class="form-control" id="pw"  name="password"
           required minlength="8" maxlength="100"
           [(ngModel)]="model.password"
           #password="ngModel"
    >
  </div>
  <div [hidden]="password.valid || password.pristine" class="alert alert-danger">Password of 8 or more characters is required.</div>

  <div class="form-group">
    <label for="password-confirm">Confirm Password<span class="req">required</span></label>
    <input type="password" class="form-control" id="password-confirm"  name="confirmPassword"
           required minlength="8" maxlength="100"
           [(ngModel)]="model.confirmPassword"
           #confirmPassword="ngModel"
    >
  </div>
  <div [hidden]="confirmPassword.valid || confirmPassword.pristine" class="alert alert-danger">Confirm password is required.</div>

  <div class="d-flex justify-content-end mt-4">
    <button type="submit" class="btn btn-primary" [disabled]="!resetForm.form.valid || resetWorking">
      Submit
      <fa-icon icon="check-circle" class="ml-2" *ngIf="!resetWorking"></fa-icon>
      <fa-icon icon="spinner" [spin]="true" class="ml-2" *ngIf="resetWorking"></fa-icon>
    </button>
  </div>

</form>
