<tto-navbar></tto-navbar>

<div class="arts-integration view">
  <div class="splash view-page shadow w-100">
    <div class="image-container">
      <img src="assets/pictures/in-the-classroom-splash.jpg">
    </div>
  </div>

  <div class="under-splash line-paper-30">
    <div class="container shift-up">

      <div class="row title-row align-items-center">
        <div class="col-lg-4 col-md-6 title-container">
          <img class="page-title" src="assets/nav/in-the-classroom-blue.webp">
        </div>
        <div class="col-lg-8 col-md-6">
          <tto-quote direction="right" text="Arts-infused lessons offer learners an in-depth understanding of the curriculum while sparking curiosity, building empathy, and developing communication and teamwork!"></tto-quote>
        </div>
      </div>

      <div class="row mt-4" id="artists-in-residence">
        <div class="col-12">
          <p class="title">Artists in Residence</p>
          <div class="residencies">
            <p>Professional Teaching Artists work with teachers and schools to create classroom specific arts-integrated lessons on for all types of curriculum. No subject is off limits. Email Teralyn at <a href="mailto:teralyn@storytreetheatre.org" target="_blank">teralyn@storytreetheatre.org</a> for free consultation. We always offer free 1-day theatre lessons throughout the area, so teachers can see us in action.</p>
          </div>
        </div>
      </div>

      <div class="row mt-4" id="arts-integrated-lessons">
        <div class="col-12">
          <p class="title">Completed Arts-Integrated Lessons</p>
          <tto-quote direction="left" text="These engaging plans put learning and creating in the hands of the students. Each lesson plan includes daily activities that combine standards-based curriculum and theatre. Students will research and explore concepts and vocabulary while developing writing and storytelling skills. Each lesson ends with student generated plays and performances!"></tto-quote>
        </div>
      </div>

      <div class="row mb-4 mt-2">
        <div class="col-md-4 d-flex" *ngFor="let lesson of lessons">
          <div class="arts-integrated-lesson align-self-stretch">
            <div class="lesson-image mb-2" [ngStyle]="{'background-image': 'url(' + lesson.image + ')'}"></div>
            <div class="lesson-body">
              <div class="d-flex flex-column align-items-center">
                <p class="lesson-title">{{lesson.title}}</p>
                <div class="lesson-details w-100 mb-2">
                  <p class="m-0"><fa-icon icon="user-graduate" class="mr-2"></fa-icon>{{lesson.grades}}</p>
                  <p class="m-0"><fa-icon icon="calendar" class="mr-2"></fa-icon>{{lesson.days}}</p>
                  <p class="m-0"><fa-icon icon="clock" class="mr-2"></fa-icon>{{lesson.duration}}</p>
                </div>
                <p class="lesson-text">{{lesson.text}}</p>
              </div>
              <a class="lesson-plan-download dl" [href]="lesson.download" target="_blank">
                <fa-icon icon="file-download"></fa-icon>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-4 mt-4 performances">
        <div class="col-md-4 img img-1"></div>
        <div class="col-md-4 performance-quick-link">
          <div class="d-flex flex-column align-items-center p-3">
            <img src="assets/nav/historical-performances-blue.webp" class="mb-3 w-100">
            <p>Explore our Historical Performances for other completed arts-integrated lesson plans (also available for download)! They provide great videos of how to perform a monologue while also giving historic lessons on iconic figures in society.</p>
            <button class="action-btn" [routerLink]="['/performances']">
              Explore
              <fa-icon icon="arrow-circle-right" class="ml-2"></fa-icon>
            </button>
          </div>
        </div>
        <div class="col-md-4 img img-2"></div>
      </div>

      <div class="row mt-4">

        <div class="col-md-12">

          <div class="theatre-games mb-4">
            <p class="title">Classroom Activities</p>

            <div class="theatre-game paper-card pt-0">
              <div class="header d-flex flex-row justify-content-between">
                <p class="name rot-1-l">Slow Motion Samurai</p>
                <a class="print dl" href="assets/downloads/games/slow-motion-samurai.pdf" target="_blank">
                  <fa-icon icon="file-download"></fa-icon>
                </a>
              </div>
              <p class="info players"><fa-icon icon="users" [fixedWidth]="true" class="mr-2"></fa-icon>For groups of 5 - 20</p>
              <p class="info ages"><fa-icon icon="child" [fixedWidth]="true" class="mr-2"></fa-icon>Recommended for kids and adults ages 5+</p>
              <p class="info time"><fa-icon icon="clock" [fixedWidth]="true" class="mr-2"></fa-icon>One round takes about 10 minutes</p>
              <p class="info space"><fa-icon icon="ruler" [fixedWidth]="true" class="mr-2"></fa-icon>Needs about 3 square feet per person</p>
              <p class="description mt-3">- Each player picks a spot in the play area and assumes the samurai position (arms crossed in an X in front of them).</p>
              <p class="description">- When the instructor says go, each player attempts to touch their "sword" (forearm) to the other player's body, moving <strong>VERY VERY SLOWLY.</strong></p>
              <p class="description">- If a player is touched anywhere but their swords, they must die a slow and painful death (the more theatrical the better).</p>
              <p class="description">- The last player standing is THE WINNER!</p>
              <p class="description">Notes: any player moving faster than "slow motion" is immediately disqualified, at your discretion.  Players can block each other's swords with their own swords, but blocking must also be in SLOW MOTION.  Although there can only be one samurai left standing, you should also give awards for BEST/SILLIEST DEATHS.  This is theatre after all.</p>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://player.vimeo.com/video/500519686" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>

            <div class="theatre-game paper-card pt-0">
              <div class="header d-flex flex-row justify-content-between">
                <p class="name rot-1-l">Dead Fish</p>
                <a class="print dl" href="assets/downloads/games/dead-fish.pdf" target="_blank">
                  <fa-icon icon="file-download"></fa-icon>
                </a>
              </div>
              <p class="info players"><fa-icon icon="users" [fixedWidth]="true" class="mr-2"></fa-icon>For groups of 5 - 20</p>
              <p class="info ages"><fa-icon icon="child" [fixedWidth]="true" class="mr-2"></fa-icon>Recommended for kids and adults ages 5+</p>
              <p class="info time"><fa-icon icon="clock" [fixedWidth]="true" class="mr-2"></fa-icon>About 15 minutes</p>
              <p class="info space"><fa-icon icon="ruler" [fixedWidth]="true" class="mr-2"></fa-icon>Needs a relatively open space</p>
              <p class="description mt-3">- Teacher calls out an object, animal, etc. and students become it.</p>
              <p class="description">- Students are only allowed to use BODY and IMAGINATION!</p>
              <p class="description">Notes: this is the perfect game for teaching about animals and plant life in regions of the planet – the Rainforest, Tundra, Antarctica, etc.  For more advanced versions, see the <a href="assets/downloads/games/DeadFish.pdf" target="_blank">full instructiors</a>.</p>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://player.vimeo.com/video/500521654" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>

            <div class="theatre-lesson paper-card pt-0">
              <div class="header d-flex flex-row justify-content-between">
                <p class="name rot-1-l">Story Stew</p>
                <a class="print dl" href="assets/downloads/games/story-stew.pdf" target="_blank">
                  <fa-icon icon="file-download"></fa-icon>
                </a>
              </div>
              <p class="info players"><fa-icon icon="users" [fixedWidth]="true" class="mr-2"></fa-icon>For groups of 5 - 15</p>
              <p class="info ages"><fa-icon icon="child" [fixedWidth]="true" class="mr-2"></fa-icon>Recommended for kids 5 - 10</p>
              <p class="info time"><fa-icon icon="clock" [fixedWidth]="true" class="mr-2"></fa-icon>Takes about 25 minutes</p>
              <p class="info space"><fa-icon icon="ruler" [fixedWidth]="true" class="mr-2"></fa-icon>Needs about 3 square feet per person</p>
              <p class="info materials"><fa-icon icon="pen" [fixedWidth]="true" class="mr-2"></fa-icon>Paper, pencils, bowls (optional)</p>
              <p class="description mt-3">- Players brainstorm examples of Character, Setting, and Problem.</p>
              <p class="description">- Players find their "spotlights."  They must stay in their spotlight for the rest of the game!</p>
              <p class="description">- Call out Characters, Settings, and Problems from the list.</p>
              <p class="description">Notes: for level two, you can invite two students to perform characters from the list at a time while the other students guess.  For level three, give the two actors characters, a setting, and a problem.</p>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://player.vimeo.com/video/500523691" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>

          </div>

          <tto-quote direction="left" text="Check back soon for more games!  We'll also start posting lesson plans, so keep an eye on our Facebook page and/or mailing list."></tto-quote>

        </div>
      </div>
    </div>

    <tto-footer></tto-footer>
  </div>
</div>
