.arts-integration {

  .splash {
    .image-container {
      background-image: url('../../../assets/pictures/in-the-classroom-splash.jpg');
    }
  }

  .under-splash {
    background-color: white;
  }

  .title {
    font-size: 22px;
    color: #444;
    margin: 0;
    font-family: short-stack, sans-serif;

    @media screen and (min-width: 768px) {
      font-size: 34px;
    }
  }

  a.dl {
    transition: 0.25s all;

    &:hover {
      transform: scale(1.1);
    }
  }

  .arts-integrated-lesson {
    background: rgb(13, 94, 186);
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;

    .lesson-image {
      height: 400px;
      width: 100%;
      background-size: cover;
      background-position: top;
      background-repeat: no-repeat;
      flex-grow: 0;
    }

    .lesson-body {
      padding: 10px;
      color: white;
      font-family: short-stack, sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-grow: 1;
      justify-content: space-between;

      .lesson-title {
        font-size: 24px;
        margin-bottom: 10px;
      }

      .lesson-details {
        padding: 10px 0;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      }

      .lesson-text {
        opacity: 0.8;
        margin-bottom: 20px;
      }

      .lesson-plan-download {
        font-size: 30px;
        opacity: 0.9;
        color: white;

        &:hover {
          opacity: 1.0;
        }
      }
    }
  }

  .performances {
    .performance-quick-link {
      background-color: #5e8ac6;
      color: white;

      a {
        font-size: 22px;
      }
    }

    .img {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .img-1 {
      background-image: url('../../../assets/pictures/performance/margaret-hamilton.webp');
    }

    .img-2 {
      background-image: url('../../../assets/pictures/performance/robert-smalls.webp');
    }
  }

  .theatre-games, .theatre-lessons {
    font-family: short-stack, sans-serif;

    .theatre-game, .theatre-lesson {
      position: relative;
      margin-bottom: 20px;

      .header {
        margin-left: -20px;
        margin-right: -20px;

        .name {
          padding: 10px 20px;
          box-shadow: 0 1px 1px 1px rgba(0,0,0,0.25);
          font-size: 1.2em;
          display: inline-block;
          margin-bottom: 5px;
          background-color: #fd7e14;
          color: white;
          position: relative;
          left: -5px;
          top: -5px;
        }

        .print {
          font-size: 2em;
          color: #444;
          border: none;
          background: none;
          outline: none;
          margin: 10px 10px 0 0;
          transition: 0.25s all;

          &:hover {
            cursor: pointer;
            color: black;
            transform: scale(1.1);
          }
        }
      }

      .info {
        margin: 0;
        font-size: 0.9em;
        color: #444;
      }

      .description {
        font-size: 0.8em;
        color: #666;
        margin-bottom: 0.8em;
      }
    }
  }
}
