<div class="play-cast-page play-page">
  <div class="container">
    <div class="cast-page page">

      <div class="row mb-4">
        <div class="col-12">
          <h1 class="w-100 d-block text-center">Setting and Cast</h1>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-12">
          <h4 class="orange">{{(activePlay$ | async).scene.name}}</h4>
          <img class="w-100" [src]="(activePlay$ | async).scene.image">
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-12">
          <tto-quote text="You can customize each character's name and description by clicking the pencil buttons on the right side!"></tto-quote>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="character" *ngFor="let character of (activePlay$ | async).characters">
            <div class="d-flex align-items-start flex-grow-1">
              <img [src]="character.image">
              <div class="character-details">
                <p class="character-name orange">{{character.name}}</p>
                <p class="character-description">{{character.description || 'A character in this play.'}}</p>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-center ml-4 flex-grow-0">
              <button class="edit" (click)="editCharacter(character)"><fa-icon icon="pen"></fa-icon></button>
            </div>
          </div>
        </div>
      </div>

      <div class="page-turn">
        <button class="btn action-btn l" [routerLink]="['/playwrights-pal/script-writer/title']">
          <fa-icon icon="arrow-circle-left" class="mr-2"></fa-icon>
          Back
        </button>
        <button class="btn action-btn r" [routerLink]="['/playwrights-pal/script-writer/script']">
          Next
          <fa-icon icon="arrow-circle-right" class="ml-2"></fa-icon>
        </button>
      </div>

    </div>
  </div>
</div>

<ng-template #characterEditor let-c="close" let-d="dismiss">
  <div class="modal-body">
    <img class="edit-image mb-2" [src]="edit.image">
    <form #charForm="ngForm" (ngSubmit)="c(edit)">
      <div class="form-group">
        <label for="name">Name<span class="req">required</span></label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Name your character"
               required
               #name="ngModel"
               [(ngModel)]="edit.name"
        >
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Character name is required.</div>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" placeholder="Describe your character" name="description"
                  [(ngModel)]="edit.description"
        ></textarea>
      </div>
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">
          Done
          <fa-icon icon="check-circle" class="ml-2"></fa-icon>
        </button>
      </div>
    </form>
  </div>
</ng-template>
