p {
  color: #333;
  margin: 0;
}

img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.character {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }

  .character-details {
    .character-name {
      font-size: 22px;
      font-weight: bold;
      margin: 0;
    }

    .character-description {
      color: #666;
    }
  }

  .edit {
    background: transparent;
    color: #2C4D93;
    border: 2px solid #2C4D93;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    opacity: 0.25;

    &:hover {
      opacity: 1.0;
      cursor: pointer;
    }
  }
}

.edit-image {
  width: 100px;
}
