.play {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px 20px;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  margin-bottom: 10px;

  .play-title {
    font-size: 18px;
    color: #222;
    margin: 0;
  }

  .status {
    font-size: 16px;
    color: #666666;
    margin: 0;
  }

  .controls {
    button {
      opacity: 0.75;

      &:hover {
        opacity: 1.0;
      }
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &.deleting {
    //opacity: 0.75;
    background-color: rgba(255, 0, 0, 0.2);
    border-color: red;
  }

  &.unsaved {
    border-color: #dc7d30;
    background-color: rgba(214, 138, 32, 0.10);
  }
}
