<h4>Library</h4>
<div class="library-items">
  <p class="m-0" *ngIf="userPlays && userPlays.length == 0 && !wipPlay">You don't have anything in your library yet.</p>
  <p class="loading mt-2" *ngIf="!userPlays">
    <fa-icon class="mr-2" icon="spinner" [spin]="true"></fa-icon>
    Loading your plays...
  </p>

  <div class="play wip"
       *ngIf="wipPlay && !!userPlays"
       [class.unsaved]="(wipUnsaved$ | async)"
  >
    <div class="details">
      <p class="play-title"><fa-icon icon="book" class="mr-2"></fa-icon>{{wipPlay.name}}</p>
      <p class="status">
        {{wipPlay.state}}{{(wipUnsaved$ | async) ? ', unsaved' : ''}}
      </p>
      <div class="d-flex align-items-center mt-3">
        <button class="btn btn-secondary mr-2"
                (click)="saveWip(wipPlay)"
                *ngIf="(wipUnsaved$ | async)"
        >
          <fa-icon icon="save" class="mr-2"></fa-icon>
          Save
        </button>
        <button class="btn btn-secondary mr-2"
                (click)="openPlay(wipPlay)"
        >
          <fa-icon icon="pen" class="mr-2"></fa-icon>
          Edit
        </button>
        <button class="btn btn-secondary"
                (click)="printPlay(wipPlay)"
        >
          <fa-icon icon="print" class="mr-2"></fa-icon>
          Print
        </button>
      </div>
    </div>
    <div class="controls">
      <button class="btn" (click)="removePlay(wipPlay)"><fa-icon icon="times"></fa-icon></button>
    </div>
  </div>

  <div class="play"
       *ngFor="let userPlay of userPlays"
       [class.deleting]="userPlay.deleting"
       [class.wip]="wipPlay && userPlay.id === wipPlay.id"
  >
    <div class="details">
      <p class="play-title"><fa-icon icon="book" class="mr-2"></fa-icon>{{userPlay.name}}</p>
      <p class="status" *ngIf="!userPlay.deleting">{{userPlay.state}}</p>
      <p class="status" *ngIf="userPlay.deleting">deleting...</p>
      <div class="d-flex align-items-center mt-3">
        <button class="btn btn-secondary mr-2"
                (click)="openPlay(userPlay)"
                [disabled]="userPlay.deleting"
        >
          <fa-icon icon="pen" class="mr-2"></fa-icon>
          Edit
        </button>
        <button class="btn btn-secondary"
                (click)="printPlay(userPlay)"
                [disabled]="userPlay.deleting"
        >
          <fa-icon icon="print" class="mr-2"></fa-icon>
          Print
        </button>
      </div>
    </div>
    <div class="controls">
      <button class="btn" (click)="removePlay(userPlay)" [disabled]="userPlay.deleting">
        <fa-icon icon="times" *ngIf="!userPlay.deleting"></fa-icon>
        <fa-icon icon="spinner" [spin]="true" *ngIf="userPlay.deleting"></fa-icon>
      </button>
    </div>
  </div>

  <div class="controls mt-2 d-flex justify-content-end">
    <button class="btn btn-primary" (click)="startNewPlay()">
      <fa-icon icon="feather-alt" class="mr-2"></fa-icon>
      Start a New Play
    </button>
  </div>

</div>

<ng-template #newAccountModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      <fa-icon icon="user-plus" class="mr-2"></fa-icon>Account Required
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>If you want to save your plays with us, you'll need to create a theatreteacher.org account.  You can continue to use Playwright's Pal without an account, but you'll lose your work if you clear your browser cache.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="c('Done')">
      <fa-icon icon="user-plus" class="mr-1"></fa-icon>
      Create an Account
    </button>
    <button type="button" class="btn btn-secondary" (click)="d('Cancel')">
      No Thanks
      <fa-icon icon="smile" class="ml-l"></fa-icon>
    </button>
  </div>
</ng-template>
