.character-options {
  .character-option {
    height: 200px;
    width: 200px;
    position: relative;
    transition: 0.25s ease-out opacity;
    background-color: rgba(189, 189, 189, 0.75);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .add-mark {
      position: absolute;
      opacity: 0;
      transition: 0.25s ease-out opacity;
      z-index: 10;

      .selected-mark-icon {
        margin: 0;
        color: #F37A14;
        font-size: 64px;
      }
    }

    .character-image {
      width: 100%;
      opacity: 1.0;
      align-self: flex-start;
      transition: 0.25s ease-out opacity;
    }

    .character-name {
      position: absolute;
      font-size: 16px;
      bottom: 5px;
      left: 10px;
      color: white;
      text-shadow:
        -3px 3px 0 #000,
          -1px -1px 0 #000,
          1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    }

    &.selected {
      //.character-image {
      //  opacity: 1.0;
      //}

      //.selected-mark {
      //  opacity: 1.0;
      //}
    }

    &:hover {
      cursor: pointer;

      //&:hover {
        .character-image {
          opacity: 0.5;
        }

        .add-mark {
          opacity: 1.0;
        }
      //}
    }
  }
}
