<div class="d-flex align-items-center justify-content-between mb-2">
  <div>
    <h2>Choose your characters</h2>
  </div>
  <div class="d-flex align-items-center ml-2">
    <button class="btn action-btn mr-2" [routerLink]="['/playwrights-pal/new-play/setting']">
      <fa-icon icon="arrow-circle-left" class="mr-2"></fa-icon>
      Back
    </button>
    <button class="btn action-btn" [routerLink]="['/playwrights-pal/new-play/problem']">
      Next
      <fa-icon icon="arrow-circle-right" class="ml-2"></fa-icon>
    </button>
  </div>
</div>

<tto-quote
  direction="left"
  text="Characters are who the play is about!  You can rename them later if you want."
></tto-quote>

<div class="scene-list mt-2" *ngIf="characterCategories$ | async as characterCategories; else loadingCharacters">

  <div *ngFor="let category of characterCategories" class="scene-option mb-4">
    <h4>{{category.name}}</h4>
    <div class="character-options d-flex flex-row flex-wrap">
      <div *ngFor="let character of category.characters" class="character-option mb-2 mr-2"
           (click)="selectCharacter(character)"
      >
        <div class="add-mark">
          <fa-icon [fixedWidth]="true" icon="plus-circle" class="selected-mark-icon"></fa-icon>
        </div>
        <img class="character-image" [src]="character.image">
        <p class="character-name m-0">{{character.name}}</p>
      </div>
    </div>

  </div>

</div>

<div class="d-flex align-items-center justify-content-between">
  <button class="btn action-btn" [routerLink]="['/playwrights-pal/new-play/setting']">
    <fa-icon icon="arrow-circle-left" class="mr-2"></fa-icon>
    Back
  </button>
  <button class="btn action-btn" [routerLink]="['/playwrights-pal/new-play/problem']">
    Next
    <fa-icon icon="arrow-circle-right" class="ml-2"></fa-icon>
  </button>
</div>

<ng-template #loadingCharacters>
  <p class="loading mt-2">
    <fa-icon class="mr-2" icon="spinner" [spin]="true"></fa-icon>
    Loading character options...
  </p>
</ng-template>
