<tto-navbar></tto-navbar>

<div class="container-fluid lesson line-paper-30">
  <div class="row justify-content-center">

    <div class="col-md-8 col-sm-12">
      <h2>Is this for a Lesson?</h2>

      <tto-quote text="If you're writing a play for a specific lesson, select it below.  Or, just pick 'I'm writing for myself' to do your own thing!"></tto-quote>

      <div class="lesson-options shadow">
        <button *ngFor="let lesson of lessons$ | async" class="btn btn-outline-primary btn-lg btn-block" (click)="selectLesson(lesson)">{{lesson.name}}</button>
        <button class="btn btn-outline-primary btn-lg btn-block" (click)="selectLesson()">I'm just writing for myself.</button>
      </div>
    </div>

  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-md-8 col-sm-12">

      <tto-quote direction="left" text="Wonder what this is all about?  Here's a short intro to Playwright's Pal."></tto-quote>
      <div class="shadow p-2">
        <div class="embed-responsive embed-responsive-16by9 mt-2">
          <iframe src="https://player.vimeo.com/video/636620215?h=e22e5cc88f" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

</div>
