.lesson {
  font-family: short-stack, sans-serif;
  margin-top: 70px;
  padding-top: 100px;
  height: calc(100vh - 70px);

  .lesson-options {
    background: white;
    padding: 10px;
    margin-top: 10px;

    .btn {
      margin-top: 10px;

      &:first-of-type {
        margin-top: 0;
      }
    }
  }

}
