<tto-navbar></tto-navbar>

<div class="teacher-tools view">

  <div class="splash view-page shadow w-100">
    <div class="image-container">
      <img src="assets/pictures/teacher-tools-splash.jpg">
    </div>
  </div>

  <div class="under-splash line-paper-30">
    <div class="container shift-up">

      <div class="row title-row align-items-center">
        <div class="col-md-4 title-container">
          <img class="page-title" src="assets/nav/teacher-tools-yellow.webp">
        </div>
        <div class="col-md-8">
          <tto-quote direction="right" text="We are here to help YOU incorporate fun and engaging theatre activities into your classroom!"></tto-quote>
        </div>
      </div>

      <div class="row mt-4 mb-4">
        <div class="col-12">
          <p>Teachers, as you know, <strong>arts-infused</strong> lessons offer learners an in-depth <strong>understanding</strong> of the curriculum while <strong>sparking curiosity</strong>, building <strong>empathy</strong>, and developing <strong>communication and teamwork</strong>.</p>
          <p>And we are here to help YOU incorporate fun and engaging theatre activities into your classroom with tools, ideas, one-on-one support, and professional development.</p>
        </div>
      </div>

      <div class="tools-section shadow mb-4 pb-4">
        <div class="row">
          <div class="col-12">
            <p class="section-title">Tools</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="tools-title-container">
              <a class="tools-title" href="https://www.teacherspayteachers.com/Store/Theatre-Arts-integrated-Lessons-For-The-Classroom">Teachers Pay Teachers</a>
            </div>
          </div>
          <div class="col-md-9">
            <p class="tools-text">We offer full play scripts, lesson plans, and more over at <a href="https://www.teacherspayteachers.com/Store/Theatre-Arts-integrated-Lessons-For-The-Classroom" target="_blank">Teachers Pay Teachers</a>!</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="tools-title-container">
              <a class="tools-title" [routerLink]="['/arts-integration']">Completed Arts-Integrated Lesson Plans</a>
            </div>
          </div>
          <div class="col-md-9">
            <p class="tools-text">These step-by-step lesson plans put learning and creating in the hands of the students. Each lesson plan incorporates standards-based curriculum into daily activities (45 – 55 minutes) that end with student created plays and performances.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="tools-title-container d-flex align-items-center">
              <a class="tools-title" [routerLink]="['/playwrights-pal']">Playwright's Pal</a>
            </div>
          </div>
          <div class="col-md-9">
            <p class="tools-text">This interactive tool allows you and the students to create plays in real time about topics you are studying.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="tools-title-container">
              <p class="tools-title">Artists In Residence</p>
            </div>
          </div>
          <div class="col-md-9">
            <p class="tools-text">We also offer in class residencies where professional Teaching Artists create and implement a lesson plan based on your class’s specific needs.</p>
          </div>
        </div>
      </div>

      <div class="tools-section shadow mb-4 mt-4 pb-4">
        <div class="row">
          <div class="col-12">
            <p class="section-title">Ideas/One-On-One Support</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="tools-title-container">
              <a class="tools-title" [routerLink]="['/arts-integration']">In the Classroom</a>
            </div>
          </div>
          <div class="col-md-9">
            <p class="tools-text">Here you can find a variety of theatre activities and games to inspire you and your lesson plans. You can always email us at <a href="mailto:teralyn@theatreteacher.org">teralyn@theatreteacher.org</a> to set up a phone call or an in-person meeting to develop your arts-infused lesson plan.</p>
          </div>
        </div>
      </div>

      <div class="tools-section shadow mb-4 mt-4 pb-4">
        <div class="row">
          <div class="col-12">
            <p class="section-title">Professional Development</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="tools-title-container">
              <p class="tools-title">We are Here for YOU!</p>
            </div>
          </div>
          <div class="col-md-9">
            <p class="tools-text">Our Teaching Artists are available online and in-person to lead you and your team in a hands-on experience to teach how to create and incorporate arts-infused lessons and ideas into your classroom. Email Teralyn at <a href="mailto:teralyn@theatreteacher.org">teralyn@theatreteacher.org</a> for more information.</p>
          </div>
        </div>
      </div>

      <tto-footer></tto-footer>
    </div>
  </div>

</div>
