.teacher-tools {
  font-family: short-stack, sans-serif;

  .splash {
    .image-container {
      background-image: url('../../../assets/pictures/teacher-tools-splash.jpg');
    }
  }

  .under-splash {
    background-color: white;
  }

  .title {
    font-size: 34px;
    color: #444;
    margin: 0;
  }

  .section-title {

  }

  .tools-section {
    background: #ecec79;

    .section-title {
      display: inline-block;
      font-size: 34px;
      padding: 10px 20px;
      border-radius: 4px;
      color: white;
      background: #d68a20;
      box-shadow: 0 1px 1px 1px rgba(0,0,0,0.25);
      position: relative;
      top: -4px;
      left: -1px;
    }

    .tools-title-container {
      @media screen and (min-width: 768px) {
        border-right: 2px solid rgba(143, 146, 11, 0.5);
        height: 100%;
      }
    }

    .tools-title {
      padding: 10px 20px;
      display: block;
      font-size: 22px;
      color: rgb(143, 146, 11);
      margin: 0;
    }

    .tools-text {
      padding: 10px;
      display: block;
    }
  }
}
