<form #personalInfoForm="ngForm" (ngSubmit)="personalDone()" *ngIf="stage === 1">

  <p class="prompt">Need an account?  First, fill out a few details about yourself.</p>

  <div class="form-group">
    <label for="first-name">First Name<span class="req">required</span></label>
    <input type="text" class="form-control" id="first-name"  name="firstName"
           required
           [(ngModel)]="model.firstName"
           #firstName="ngModel"
    >
  </div>
  <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">First name is required.</div>

  <div class="form-group">
    <label for="last-name">Last Name</label>
    <input type="text" class="form-control" id="last-name" name="lastName" maxlength="100"
           [(ngModel)]="model.lastName"
    >
  </div>

  <div class="form-group">
    <label for="email">Email Address<span class="req">required for automated password reset</span></label>
    <input type="text" class="form-control" id="email" name="email" maxlength="100"
           [(ngModel)]="model.email"
    >
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="teacher" name="teacher"
           [(ngModel)]="model.teacher"
    >
    <label class="form-check-label" for="teacher">I am a teacher</label>
  </div>

  <div class="d-flex justify-content-end mt-4">
    <button type="submit" class="btn btn-primary" [disabled]="!personalInfoForm.form.valid">
      Next
      <fa-icon icon="arrow-circle-right" class="ml-2"></fa-icon>
    </button>
  </div>

</form>

<form #accountInfoForm="ngForm" (ngSubmit)="accountDone()" *ngIf="stage === 2">

  <p class="prompt">Thanks!  Now, come up with a good username and password.  Don't worry, you can login with your email address too, if you provided it.</p>

  <div class="form-group">
    <label for="username">Username<span class="req">required</span></label>
    <input type="text" class="form-control" id="username"  name="username" maxlength="100"
           required
           [(ngModel)]="model.username"
           #username="ngModel"
    >
  </div>
  <div [hidden]="username.valid || username.pristine" class="alert alert-danger">Username is required.</div>


  <div class="form-group">
    <label for="password">Password<span class="req">required (8 or more characters)</span></label>
    <input type="password" class="form-control" id="password"  name="password" maxlength="100" minlength="8"
           required
           [(ngModel)]="model.password"
           #password="ngModel"
    >
  </div>
  <div [hidden]="password.valid || password.pristine" class="alert alert-danger">Password must be 8 or more characters.</div>

  <div class="terms">
    <ul>
      <li>We do not sell or give away your personal information to anybody, ever.</li>
      <li>We don't do any weird targeted advertisements or track you in any way.</li>
      <li>You can delete your account at any time, and it will be completely erased from our servers along with all your generated content.</li>
    </ul>
  </div>

  <div class="d-flex justify-content-between mt-4">
    <button type="button" class="btn btn-primary" (click)="stage = 1">
      <fa-icon icon="arrow-circle-left" class="mr-2"></fa-icon>
      Back
    </button>
    <button type="submit" class="btn btn-success pl-4 pr-4"
            [disabled]="!accountInfoForm.form.valid || submitting"
    >
      Done!
      <fa-icon icon="check-circle" class="ml-2" *ngIf="!submitting"></fa-icon>
      <fa-icon icon="spinner" [spin]="true" class="ml-2" *ngIf="submitting"></fa-icon>
    </button>
  </div>

</form>

<ng-template #confirmEmailModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      <fa-icon icon="question-circle" class="mr-2"></fa-icon>Email Address
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>We don't require an email address, but our account recovery is email-based, so you won't be able to reset your password if you don't provide your email address.  Is that okay?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="c('Done')">
      <fa-icon icon="check-circle" class="mr-1"></fa-icon>
      I'll Remember My Password
    </button>
    <button type="button" class="btn btn-secondary" (click)="d('Cancel')">
      Cancel
    </button>
  </div>
</ng-template>
