<div class="line-creator" [class.editor]="!!newLine.id">

  <div class="line-type shadow">
    <button class="line-type-button"
            (click)="toggleLine()"
            [class.selected]="creatorMode === 'dialogue'"
    >
      Dialogue
      <img class="ml-2" src="assets/controls/line-dots.svg">
    </button>
    <button class="line-type-button"
            (click)="toggleBlocking()"
            [class.selected]="creatorMode === 'blocking'"
    >
      Blocking
      <img class="ml-2" src="assets/controls/line-plus.svg">
    </button>
    <!--button class="line-type-button"
            (click)="toggleEmotion()"
            [class.selected]="creatorMode === 'emotion'"
    >
      <img src="assets/controls/line-face.svg">
    </button-->
  </div>

  <div class="character-quick-pick" *ngIf="!!creatorMode">
    <div class="character-small"
         *ngFor="let character of (activePlay$ | async).characters"
         [class.selected]="selectedCharacter && selectedCharacter.id === character.id"
         (click)="selectCharacter(character)"
    >
      <img [src]="character.image">
      <!--p class="name">{{character.name}}</p-->
    </div>
  </div>

  <div class="new-line" *ngIf="creatorMode === 'dialogue'" [@fadeIn]>
    <div class="character-picture">
      <img *ngIf="selectedCharacter$ | async" class="w-100" [src]="selectedCharacter.image">
    </div>
    <div class="line-writer">
      <p class="character-name orange">{{selectedCharacter ? selectedCharacter.name : 'Character'}}</p>
      <form #lineForm="ngForm" class="d-flex align-items-center" (ngSubmit)="submitLine()">
        <input type="text" class="line-writer-text form-control" placeholder="Says..."
               required
               name="newLine"
               [(ngModel)]="newLine.line"
        >
        <button type="submit" class="submit-line">
          <fa-icon icon="plus" *ngIf="!newLine.id"></fa-icon>
          <fa-icon icon="pen" *ngIf="newLine.id"></fa-icon>
        </button>
      </form>
    </div>
  </div>

  <div class="new-line" *ngIf="creatorMode === 'blocking'" [@fadeIn]>
    <div class="character-picture" *ngIf="selectedCharacter$ | async; let selectedCharacter">
      <img class="w-100" [src]="selectedCharacter.image">
    </div>
    <div class="line-writer">
      <p class="character-name orange" *ngIf="selectedCharacter$ | async; let selectedCharacter">{{selectedCharacter.name}}</p>
      <form #blockingForm="ngForm" class="d-flex align-items-center" (ngSubmit)="submitBlocking()">
        <input type="text"
               class="line-writer-text form-control"
               [placeholder]="(selectedCharacter$ | async) ? 'Does something..' : 'Something happens...'"
               required
               name="newBlocking"
               [(ngModel)]="newLine.blocking"
        >
        <button type="submit" class="submit-line">
          <fa-icon icon="plus" *ngIf="!newLine.id"></fa-icon>
          <fa-icon icon="pen" *ngIf="newLine.id"></fa-icon>
        </button>
      </form>
      <div class="blocking-presets d-flex align-items-center">
        <p>Shortcuts:</p>
        <div *ngIf="selectedCharacter$ | async">
          <button class="blocking-preset" (click)="blockingShortcut('enters')">Enters</button>
          <button class="blocking-preset" (click)="blockingShortcut('exits')">Exits</button>
        </div>
        <div *ngIf="!(selectedCharacter$ | async)">
          <button class="blocking-preset" (click)="blockingShortcut('Start of scene')">Scene starts</button>
          <button class="blocking-preset" (click)="blockingShortcut('End of scene')">Scene ends</button>
          <button class="blocking-preset" (click)="blockingShortcut('The End')">Play ends</button>
        </div>
      </div>
    </div>
  </div>

  <div class="new-line" *ngIf="creatorMode === 'emotion'" [@fadeIn]>
    <div class="character-picture">
      <img *ngIf="selectedCharacter$ | async" class="w-100" [src]="selectedCharacter.image">
    </div>
    <div class="emotion-picker">
      <p class="character-name orange">{{selectedCharacter ? selectedCharacter.name : 'Character'}}</p>
      <div class="emotion-options d-flex align-items-center">
        <button class="emotion mr-2"
                (click)="submitEmotion('happy')"
        >
          <img src="assets/controls/happy.svg">
        </button>
        <button class="emotion mr-2"
                (click)="submitEmotion('sad')"
        >
          <img src="assets/controls/sad.svg">
        </button>
        <button class="emotion mr-2"
                (click)="submitEmotion('angry')"
        >
          <img src="assets/controls/angry.svg">
        </button>
        <button class="emotion"
                (click)="submitEmotion('confused')"
        >
          <img src="assets/controls/confused.svg">
        </button>
      </div>
    </div>
  </div>

  <div class="mt-2" *ngIf="!creatorMode && (!(activePlay$ | async).lines || (activePlay$ | async).lines.length === 0)" [@fadeIn]>
    <tto-quote text="Most plays begin with blocking: what your characters do.  Select 'Blocking' above to add a line of blocking to your play."></tto-quote>
  </div>

  <div class="mt-2" *ngIf="creatorMode === 'blocking' && (!(activePlay$ | async).lines || (activePlay$ | async).lines.length === 0)" [@fadeIn]>
    <tto-quote text="Select one of your characters (click their picture) and tell us what they do.  You can use the shortcuts to make things easier!"></tto-quote>
  </div>

  <div class="mt-2" *ngIf="!!creatorMode && (!(activePlay$ | async).lines || (activePlay$ | async).lines.length === 1 && (activePlay$ | async).lines[0].type === 'blocking')" [@fadeIn]>
    <tto-quote text="Now that your character is on stage, select 'Dialogue' and tell us what they say!  You can press 'Enter' when you're done typing, or press the '+' button."></tto-quote>
  </div>

  <div class="mt-2" *ngIf="!!creatorMode && (!(activePlay$ | async).lines || (activePlay$ | async).lines.length === 2 && (activePlay$ | async).lines[0].text.indexOf('enters') !== -1 && (activePlay$ | async).lines[1].type === 'dialogue')" [@fadeIn]>
    <tto-quote text="You're on a roll!  Does another character enter?  Or does your character say or do something else?  It's up to you!"></tto-quote>
  </div>

</div>
