.line-creator {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .character-quick-pick {
    display: flex;
    align-items: center;
    padding: 10px;

    .character-small {
      display: flex;
      align-items: flex-start;
      margin: 0 5px;
      padding: 2px;
      border: 2px solid transparent;
      transition: 0.25s border ease-out;
      cursor: pointer;
      border-radius: 4px;
      width: 60px;
      height: 60px;
      overflow: hidden;

      img {
        width: 100%;
      }

      .name {
        font-size: 14px;
        margin: 0;
        width: 100px;
        text-align: center;
      }

      &.selected {
        border: 2px solid #dc7d30;
      }
    }
  }

  .line-type {
    position: relative;
    z-index: 2;
    background: white;
    border-radius: 10px;
    overflow: hidden;

    .line-type-button {
      background: none;
      padding: 14px 22px;
      outline: none;
      cursor: pointer;
      transition: 0.25s all ease-out;
      border: 1px solid transparent;
      color: #dc7d30;

      &:first-of-type {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }

      &:last-of-type {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      &:hover {
        background: rgba(220, 125, 48, 0.1);
        border: 1px solid rgba(220, 125, 48, 0.5);
      }

      &.selected {
        background: rgba(220, 125, 48, 0.20);
        border: 1px solid rgba(220, 125, 48, 1.0);
      }
    }
  }

  .new-line {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    z-index: 11;

    .character-picture {
      flex-grow: 0;
      width: 90px;
      height: 90px;
      border-radius: 16px;
      background: #232d4c;
      margin-right: 10px;
      overflow: hidden;
    }

    .line-writer, .emotion-picker {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 5px 0;
      align-self: stretch;

      .character-name {
        font-size: 20px;
        margin: 0;
      }

      .line-writer-text {
        font-size: 20px;
      }
    }

    .blocking-presets {
      margin-top: 5px;

      p {
        margin: 0 10px 0 0;
        font-size: 12px;
      }

      .blocking-preset {
        font-size: 12px;
        background: #dc7d30;
        color: white;
        border-radius: 8px;
        margin-right: 5px;
        outline: none;
        border: none;
      }
    }

    .emotion {
      background: none;
      border-radius: 8px;
      outline: none;
      padding: 16px;
      border: 1px solid rgba(220, 125, 48, 0.5);

      &:hover {
        background: rgba(220, 125, 48, 0.20);
        border: 1px solid rgba(220, 125, 48, 1.0);
      }
    }

    .submit-line {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px;
      background: transparent;
      color: #2C4D93;
      border: 1px solid #2C4D93;
      border-radius: 22px;
      font-size: 22px;
      margin-left: 10px;
      line-height: 22px;

      &:hover {
        background: rgba(44, 77, 147, 0.1);
        cursor: pointer;
      }
    }
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background: #E0E0E0;
    top: 25px;
    z-index: 0;
  }

  &.editor {
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 10px;
  }
}
