.quote {
  display: flex;
  flex-direction: row;
  align-items: center;

  .speech-bubble {
    position: relative;
    background: #009902;
    border-radius: .4em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 30px;
    flex-grow: 1;

    margin-right: 30px;
    margin-left: 0;

    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      width: 0;
      height: 0;
      border: 24px solid transparent;
      border-left-color: #009902;
      //border-right-color: transparent;
      border-right: 0;
      border-top: 0;
      margin-top: 0;
      margin-right: -23px;
    }
  }

  .quote-text {
    font-family: short-stack, sans-serif;
    margin: 0;
    font-size: 12px;
    text-align: center;

    @media screen and (min-width: 768px) {
      font-size: 18px;
    }
  }

  .sticker {
    width: 60px;
    min-width: 60px;
    height: 60px;
    min-height: 60px;
    border-radius: 50%;
    padding: 4px;
    flex-grow: 0;

    @media screen and (min-width: 768px) {
      width: 100px;
      min-width: 100px;
      height: 100px;
      min-height: 100px;
      padding: 10px;
    }
  }

  &.left {
    flex-direction: row-reverse;

    .speech-bubble {
      margin-right: 0;
      margin-left: 30px;

      &:after {
        left: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-right-color: #009902;
        border-left: 0;
        border-bottom: 0;
        margin-top: -10px;
        margin-left: -20px;
      }
    }

    .sticker {

    }
  }
}
