<div class="quote" [class.left]="direction === 'left'">
  <div class="speech-bubble">
    <p class="quote-text">{{text}}</p>
  </div>
  <div class="sticker">
    <img class="t" src="assets/stickers/teralyn.svg">
  </div>
</div>
