.play-page {
  margin: 15px 0;

  .title-page {
    p {
      display: block;
      text-align: center;
    }

    .describe {
      font-size: 14px;
      margin: 0;
      text-transform: uppercase;
    }

    .play-title {
      position: relative;
      display: inline-flex;
      align-items: center;
      margin: 0 60px;
      border-bottom: 1px solid transparent;

      .edit {
        background: transparent;
        color: #2C4D93;
        border: 2px solid #2C4D93;
        font-size: 20px;
        font-weight: bold;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        opacity: 0.25;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: -50px;
        bottom: 0;
      }

      &:hover {
        cursor: pointer;
        border-bottom: 1px solid rgba(44, 77, 147, 0.5);

        .edit {
          opacity: 1.0;
        }
      }
    }

    .title-edit, .play-title {
      font-size: 48px;
      line-height: 48px;
      color: #333;
      text-align: center;
    }

    .title-edit {
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid #2c4d93;
      outline: none;
    }

    .play-author {
      font-size: 22px;
      color: #333;
      margin: 0;
    }
  }
}
