<div class="play-page play-title-page">
  <div class="container">
    <div class="row mb-4" *ngIf="titleEdit === 'Untitled Play'" [@fadeIn]>
      <div class="col-12">
        <tto-quote text="If you can't think of a title now, you can always come back and change it later!"></tto-quote>
      </div>
    </div>

    <div class="title-page page">

      <div class="row">
        <div class="col-12">
          <div class="title-container d-flex flex-column align-items-center">
            <p class="describe orange">Title</p>
            <p class="play-title"
               *ngIf="!editingTitle"
               (click)="editTitle()"
            >
              {{titleEdit}}
              <button class="edit"><fa-icon icon="pen"></fa-icon></button>
            </p>
            <input *ngIf="editingTitle" type="text" class="w-100 title-edit"
                   [(ngModel)]="titleEdit"
                   (keyup.enter)="doneEditing()"
            >
          </div>
        </div>
      </div>

      <div class="row" *ngIf="(user$ | async)">
        <div class="col-12">
          <div class="author-container">
            <p class="describe orange">Written By</p>
            <p class="play-author">{{(user$ | async).firstName}} {{(user$ | async).lastName}}</p>
          </div>
        </div>
      </div>

      <div class="page-turn justify-content-end">
        <button class="btn action-btn r" [routerLink]="['/playwrights-pal/script-writer/cast']">
          Next
          <fa-icon icon="arrow-circle-right" class="ml-2"></fa-icon>
        </button>
      </div>

    </div>
  </div>
</div>
