@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.view {
  min-height: 100vh;
}

.splash {
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  background-color: black;

  .image-container {
    box-shadow: 0 0 20px 20px black inset;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  img {
    height: 100%;
    visibility: hidden;
  }

  .row {
    height: 100%;
  }

  .tagline {
    animation: fadein 4s;
    font-family: Baserkville, serif;
    color: white;
    font-style: italic;
    margin-bottom: 5%;
    font-size: 80px;
    margin-left: 20px;
    margin-right: 20px;
  }

  @media screen and (min-width: 768px) {
    height: 600px;

    .tagline {
      font-size: 120px;
    }
  }
}

.under-splash {
  position: relative;
  top: 400px;
  z-index: 2;

  @media screen and (min-width: 768px) {
    top: 600px;
  }
}

.title-row {

  .title-container {
    height: 240px;
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  img {
    height: auto;
    width: 100%;

    @media screen and (min-width: 768px) {
      max-height: 100%;
    }
  }
}

.shift-up {
  position: relative;
  top: -100px;
  margin-bottom: -50px;
}

a {
  color: #F37A14;
  text-decoration: none;

  &:hover {
    color: #FF8414;
    text-decoration: underline;
    cursor: pointer;
  }

  &:visited {
    color: #F37A14;
  }
}
