<nav class="navbar default">
  <div class="left">
    <a class="navbar-logo" [routerLink]="['/home']">
      <img src="assets/logos/tt-logo.svg">
    </a>

    <div class="nav-links">
      <a [class.selected]="isPage('/arts-integration')" [routerLink]="['/arts-integration']">In the Classroom</a>
      <a [class.selected]="isPage('/at-home')" [routerLink]="['/at-home']">At Home</a>
      <a [class.selected]="isPage('/playwrights-pal')" [routerLink]="['/playwrights-pal']">Playwright's Pal</a>
      <a [class.selected]="isPage('/performances')" [routerLink]="['/performances']">Performances</a>
      <a [class.selected]="isPage('/teacher-tools')" [routerLink]="['/teacher-tools']">Teacher Tools</a>
    </div>
  </div>

  <div class="right">
    <a class="sticker-nav green" [class.selected]="isPage('/account')" [routerLink]="['/account']">
      <img src="assets/nav/my-stuff.png">
    </a>
  </div>
</nav>

<nav class="navbar mobile navbar-light  justify-content-end">
  <a class="navbar-logo" [routerLink]="['/home']">
    <img src="assets/logos/tt-logo.svg">
  </a>
  <button class="navbar-toggler" type="button" (click)="showNav = !showNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="nav-dropdown shadow" *ngIf="showNav">
    <a [routerLink]="['/arts-integration']">In the Classroom</a>
    <a [routerLink]="['/at-home']">At Home</a>
    <a [routerLink]="['/playwrights-pal']">Playwright's Pal</a>
    <a [routerLink]="['/performances']">Performances</a>
    <a [routerLink]="['/teacher-tools']">Teacher Tools</a>
    <a [routerLink]="['/account']">My Stuff</a>
  </div>
</nav>
