:host {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  //height: 70px;
}

nav {
  height: 70px;
  padding: 0;
  align-items: flex-start;
  background: white;
}

.navbar.default {
  display: none;
  justify-content: space-between;

  .left {
    display: flex;
    align-items: flex-start;
    height: 100%;
  }

  .right {
    display: flex;
    height: 100%;
  }

  .nav-links {
    align-self: stretch;
    display: flex;
    align-items: flex-end;
    padding: 0;

    a {
      font-family: short-stack, sans-serif;
      text-transform: uppercase;
      font-size: 12px;
      padding: 10px 5px;
      color: rgb(214, 89, 17);
      text-decoration: none;
      border-bottom: 4px solid transparent;
      transition: 0.25s ease-out all;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;

      @media screen and (min-width: 1200px) {
        font-size: 16px;
        padding: 10px;
      }

      &:hover {
        background: rgba(214, 89, 17, 0.1);
      }

      &.selected {
        border-bottom: 4px solid rgb(214, 89, 17);
      }
    }
  }

  .sticker-nav {
    flex-grow: 0;
    //width: 70px;
    background: white;
    padding: 6px;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.5);
    margin: 0 10px;
    top: 10px;
    position: relative;
    cursor: pointer;
    transition: 0.25s all;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    outline: none;

    &:hover {
      cursor: pointer;
      transform: scale(1.1) rotate(-3deg);
    }

    &.green {
      border: 4px solid #777a36;
    }

    &.orange {
      border: 4px solid #d68a20;
    }

    img {
      height: 60px;
    }

    &:hover {
      transform: scale(1.1);
      box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.75);
      text-decoration: none;
    }
  }

  @media screen and (min-width: 960px) {
    display: flex;
  }
}

.navbar.mobile {
  display: none;
  height: 60px;
  align-items: center;

  @media screen and (max-width: 960px) {
    display: flex;
  }

  .navbar-logo {
    position: absolute;
    left: 0;
    width: 170px;
  }

  .navbar-toggler {
    margin-right: 10px;
  }

  .nav-dropdown {
    position: absolute;
    right: 0;
    top: 60px;
    display: flex;
    flex-direction: column;
    background: #f8f9fa;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    border-left: 1px solid rgba(0, 0, 0, 0.25);
    border-right: 1px solid rgba(0, 0, 0, 0.25);

    a {
      text-transform: uppercase;
      font-size: 16px;
      margin: 10px;
      color: rgb(238, 177, 136);
    }
  }
}

.navbar-logo {
  background: white;
  padding: 30px 10px 10px 10px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.5);
  flex-grow: 0;
  width: 120px;
  transition: 0.25s all;
  cursor: pointer;
  top: -20px;
  position: relative;
  margin: 0 30px;

  &:hover {
    //transform: scale(1.1);
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.75);
    top: 0;
  }

  img {
    height: 100%;
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    width: 220px;
  }
}

.navbar {
  -webkit-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.25);
  box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.25);
}

