.mailing-list {
  position: relative;

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    outline: none;
  }
}

a {
  color: #F37A14;
  text-decoration: none;

  &:hover {
    color: #FF8414;
    text-decoration: underline;
    cursor: pointer;
  }

  &:visited {
    color: #F37A14;
  }
}
