.play-setup {
  font-family: short-stack, sans-serif;
  margin-top: 70px;

  .placeholder {
    background: #bdbdbd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 30px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
    position: relative;
  }

  .sidebar {
    background: #333333;
    color: white;
    padding-top: 30px;

    .sidebar-section {
      padding: 30px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.75);
      opacity: 0.75;
      transition: 0.25s ease-out opacity;
      outline: none;

      &.active {
        opacity: 1.0;

        .sidebar-character {
          &:hover {
            cursor: pointer;

            img {
              opacity: 0.5;
            }

            .remove-mark {
              opacity: 1.0 !important;
            }
          }
        }
      }

      &:not(.active) {
        cursor: pointer;

        &:hover {
          opacity: 0.9;
        }
      }

      &:last-of-type {
        border-bottom: 1px solid transparent;
      }
    }

    .scene-sidebar {
      .scene-placeholder, .scene-image {
        width: 100%;
        height: 100px;
      }

      .scene-title {
        position: absolute;
        bottom: 5px;
        left: 5px;
        color: white;
        font-size: 14px;
        margin: 0;
        text-shadow:
          0 0 0 #000,
            -1px -1px 0 #000,
            1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000;
      }
    }

    .characters-sidebar {
      .sidebar-character-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .sidebar-character {
          width: 48.5%;
          max-height: 145px;
          margin-bottom: 5px;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            align-self: flex-start;
            transition: 0.25s ease-out opacity;
          }

          .remove-mark {
            position: absolute;
            opacity: 0;
            transition: 0.25s ease-out opacity;
            z-index: 10;

            .mark-icon {
              margin: 0;
              color: #F37A14;
              font-size: 34px;
            }
          }
        }
      }
    }

    .problem-sidebar {
      .problem-placeholder {
        width: 100%;
        height: 300px;
      }
    }
  }

  .view {
    padding: 100px 60px 60px 60px;
  }

  .directions {
    opacity: 0.75;
    font-size: 18px;
  }

}
