<tto-navbar></tto-navbar>

<div class="container-fluid play-setup min-vh-100">
  <div class="row min-vh-100">

    <ng-container *ngTemplateOutlet="sidebarContent; context:{activePlay: activePlay$ | async, view: view$ | async}"></ng-container>

    <div class="col-md-9 view line-paper-30">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>

<ng-template #sidebarContent let-activePlay="activePlay" let-view="view">
  <div class="col-md-3 min-vh-100 sidebar">

    <div class="sidebar-section scene-sidebar"
         [class.active]="view === '/playwrights-pal/new-play/setting'"
         [routerLink]="['/playwrights-pal/new-play/setting']"
    >
      <h4>Selected Setting</h4>
      <div class="sidebar-section-contents">
        <div class="placeholder scene-placeholder">
          <fa-icon icon="question-circle"
                   *ngIf="!activePlay.scene"
          ></fa-icon>
          <img class="sidebar-scene-image h-100"
               *ngIf="activePlay.scene"
               [src]="activePlay.scene.image"
          >
        </div>
      </div>
    </div>

    <div class="sidebar-section characters-sidebar"
         [class.active]="view === '/playwrights-pal/new-play/characters'"
         [routerLink]="['/playwrights-pal/new-play/characters']"
    >
      <h4>Selected Characters</h4>
      <div class="sidebar-section-contents">
        <div class="sidebar-character-list">
          <div class="placeholder sidebar-character"
               *ngIf="!activePlay.characters || activePlay.characters.length === 0"
          >
            <fa-icon icon="question-circle"></fa-icon>
          </div>
          <div class="sidebar-character placeholder"
               *ngFor="let character of activePlay.characters; index as i"
               (click)="removeCharacter(i)"
          >
            <img class="w-100" [src]="character.image">
            <div class="remove-mark">
              <fa-icon [fixedWidth]="true" icon="minus-circle" class="mark-icon"></fa-icon>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="sidebar-section problem-sidebar"
         [class.active]="view === '/playwrights-pal/new-play/problem'"
         [routerLink]="['/playwrights-pal/new-play/problem']"
    >
      <h4>Problem</h4>
      <div class="placeholder problem-placeholder">
        <fa-icon icon="question-circle"
                 *ngIf="!activePlay.problem"
        ></fa-icon>
        <img class="sidebar-problem-image h-100"
             *ngIf="activePlay.problem"
             [src]="activePlay.problem.image"
        >
      </div>
    </div>
  </div>
</ng-template>
