<div class="d-flex align-items-center justify-content-between mb-2">
  <div>
    <h2>Let's choose a setting!</h2>
  </div>
  <div class="d-flex align-items-center ml-2">
    <button class="btn action-btn mr-2" [routerLink]="['/playwrights-pal/lesson']">
      <fa-icon icon="arrow-circle-left" class="mr-2"></fa-icon>
      Back
    </button>
    <button class="btn action-btn" [routerLink]="['/playwrights-pal/new-play/characters']">
      Next
      <fa-icon icon="arrow-circle-right" class="ml-2"></fa-icon>
    </button>
  </div>
</div>

<tto-quote
  direction="left"
  text="A play's 'setting' is where the story takes place."
></tto-quote>

<div class="scene-options mt-2 mt-2 d-flex flex-column"
     *ngIf="sceneCategories$ | async as sceneCategories; else loadingScenes"
>
  <div *ngFor="let category of sceneCategories"
       class="category mb-4"
  >
    <h3 *ngIf="category.name">{{category.name}}</h3>
    <div *ngFor="let subcategory of category.subcategories">
      <h4 *ngIf="subcategory.name">{{subcategory.name}}</h4>
      <div *ngFor="let scene of subcategory.scenes" class="scene-option mb-4"
           (click)="selectScene(scene)"
           [class.selected]="(activePlay$ | async).scene && (activePlay$ | async).scene.id === scene.id"

      >
        <div class="selected-mark">
          <fa-icon [fixedWidth]="true" icon="check-circle" class="selected-mark-icon"></fa-icon>
        </div>
        <img class="scene-image w-100" [src]="scene.image">
        <p class="scene-name m-0">{{scene.name}}</p>
      </div>
    </div>
  </div>


</div>

<div class="d-flex justify-content-end">
  <button class="btn action-btn" [routerLink]="['/playwrights-pal/new-play/characters']">
    Next
    <fa-icon icon="arrow-circle-right" class="ml-2"></fa-icon>
  </button>
</div>

<ng-template #loadingScenes>
  <p class="loading mt-2">
    <fa-icon class="mr-2" icon="spinner" [spin]="true"></fa-icon>
    Loading scene options...
  </p>
</ng-template>
