<div class="reset-password">
  <div class="modal-header" *ngIf="modal">
    <h4 class="modal-title">Reset Password</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true"><fa-icon icon="times"></fa-icon></span>
    </button>
  </div>
  <div class="reset" [class.modal-body]="modal">
    <p class="alert alert-danger mb-2" *ngIf="error">{{error}}</p>
    <p class="alert alert-success mb-2" *ngIf="success">{{success}}</p>

    <form #resetForm="ngForm" (ngSubmit)="reset()" *ngIf="!success">

      <div class="form-group">
        <label for="username">Username or email<span class="req">required</span></label>
        <input type="text" class="form-control" id="username"  name="username" maxlength="100"
               required
               [(ngModel)]="model.username"
               #username="ngModel"
        >
      </div>
      <div [hidden]="username.valid || username.pristine" class="alert alert-danger">Username or email required.</div>

      <div class="d-flex justify-content-end" *ngIf="!success">
        <button type="submit" class="btn btn-success pl-4 pr-4" [disabled]="!resetForm.form.valid || submitting">
          Send Reset Email
          <fa-icon icon="paper-plane" class="ml-2" *ngIf="!submitting"></fa-icon>
          <fa-icon icon="spinner" [spin]="true" class="ml-2" *ngIf="submitting"></fa-icon>
        </button>
      </div>

    </form>

    <div class="d-flex justify-content-end" *ngIf="success">
      <button type="button" class="btn btn-success pl-4 pr-4" (click)="activeModal.close()">
        Done
        <fa-icon icon="check-circle" class="ml-2"></fa-icon>
      </button>
    </div>
  </div>
</div>
