<div class="d-flex align-items-center justify-content-between mb-2">
  <div>
    <h2>Pick a problem</h2>
  </div>
  <div class="d-flex align-items-center ml-2">
    <button class="btn action-btn mr-2"
            [routerLink]="['/playwrights-pal/new-play/characters']"
    >
      <fa-icon icon="arrow-circle-left" class="mr-2"></fa-icon>
      Back
    </button>
    <button class="btn action-btn"
            [disabled]="!(activePlay$ | async).scene || (activePlay$ | async).characters.length === 0 || !(activePlay$ | async).problem"
            [routerLink]="['/playwrights-pal/script-writer']"
    >
      Done
      <fa-icon icon="check-circle" class="ml-2"></fa-icon>
    </button>
  </div>
</div>

<tto-quote
  direction="left"
  text="You can't have a story without a problem for the characters to solve!"
></tto-quote>

<div class="problem-options mt-2 d-flex flex-row flex-wrap justify-content-around"
     *ngIf="problems$ | async as problems; else loadingProblems"
>
  <div *ngFor="let problem of problems" class="problem-option mr-2 mb-2"
       (click)="selectProblem(problem)"
       [class.selected]="(activePlay$ | async).problem && (activePlay$ | async).problem.id === problem.id"
  >
    <div class="selected-mark">
      <fa-icon [fixedWidth]="true" icon="check-circle" class="selected-mark-icon"></fa-icon>
    </div>
    <img class="problem-image" [src]="problem.image">
    <p class="problem-name m-0">{{problem.name}}</p>
  </div>
</div>

<div class="d-flex align-items-center justify-content-between">
  <button class="btn action-btn"
          [routerLink]="['/playwrights-pal/new-play/characters']"
  >
    <fa-icon icon="arrow-circle-left" class="mr-2"></fa-icon>
    Back
  </button>
  <button class="btn action-btn"
          [disabled]="!(activePlay$ | async).scene || (activePlay$ | async).characters.length === 0 || !(activePlay$ | async).problem"
          [routerLink]="['/playwrights-pal/script-writer']"
  >
    Done
    <fa-icon icon="check-circle" class="ml-2"></fa-icon>
  </button>
</div>

<ng-template #loadingProblems>
  <p class="loading mt-2" *ngIf="!(problems$ | async)">
    <fa-icon class="mr-2" icon="spinner" [spin]="true"></fa-icon>
    Loading problem options...
  </p>
</ng-template>
