.problem-options {
  .problem-option {
    position: relative;
    transition: 0.25s ease-out opacity;
    height: 400px;
    width: 400px;
    background-color: rgba(189, 189, 189, 0.75);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;

    .selected-mark {
      position: absolute;
      top: 20px;
      right: 20px;
      opacity: 0;
      transition: 0.25s ease-out opacity;
      z-index: 10;

      .selected-mark-icon {
        margin: 0;
        color: #F37A14;
        font-size: 40px;
      }
    }

    .problem-image {
      opacity: 1.0;
      transition: 0.25s ease-out opacity;
      width: 100%;
    }

    .problem-name {
      display: none;
      position: absolute;
      font-size: 24px;
      bottom: 10px;
      left: 20px;
      color: white;
      text-shadow:
        -3px 3px 0 #000,
          -1px -1px 0 #000,
          1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    }

    &.selected {
      .problem-image {
        opacity: 1.0;
      }

      .selected-mark {
        opacity: 1.0;
      }
    }

    &:not(.selected) {
      cursor: pointer;

      &:hover {
        .problem-image {
          opacity: 0.5;
        }

        .selected-mark {
          opacity: 1.0;
        }
      }
    }
  }
}
