.pp-default {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.pp-mobile {
  display: none;

  @media screen and (max-width: 767px) {
    display: block;
  }

  p {
    font-family: short-stack, sans-serif;
    padding: 10px;
    margin: 100px 10px 10px 10px;
    background: white;
  }
}
