<div class="pp-default">
  <router-outlet></router-outlet>
</div>

<div class="pp-mobile">
  <tto-navbar></tto-navbar>

  <p class="shadow">Sorry, Playwright's Pal is not available for small screens yet.  <fa-icon [icon]="['far', 'frown']"></fa-icon></p>
</div>
