@font-face{
  font-family: 'short-stack';
  src: url('assets/fonts/short-stack/ShortStack-Regular.otf');
}

@font-face{
  font-family: 'tiza';
  src: url('assets/fonts/Tiza/tiza.ttf');
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

a {
  color: #F37A14;
  text-decoration: none;

  &:hover {
    color: #FF8414;
    text-decoration: underline;
  }

  &:visited {
    color: #F37A14;
  }
}

.rot-1-r {
  transform: rotate(1deg);
}

.rot-2-r {
  transform: rotate(1deg);
}

.rot-1-l {
  transform: rotate(-1deg);
}

.rot-2-l {
  transform: rotate(-2deg);
}

.photo {
  background: white;
  padding: 10px;
  box-shadow: 3px 3px 4px 1px rgba(0,0,0,0.5);
  border-radius: 2px;
}

.line-paper-30 {
  background-image: -moz-linear-gradient(top , transparent, transparent 29px, #ffe3f5 0px);
  background-image: -webkit-linear-gradient(top , transparent, transparent 29px, #ffe3f5 0);
  -webkit-background-size:  100% 30px;
  background-size: 100% 30px;
}

.paper-card {
  background-color: #fff8eb;
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5);
  padding: 30px 20px;
}

.strong, strong {
  transform: scale(1.5);
  font-weight: bold;
  color: #d68a20;
  font-size: 1.1em;
}

.ss {
  font-family: short-stack, sans-serif !important;
}

button {
  font-family: short-stack, sans-serif;
}

button.action-btn, a.action-btn {
  background: #F37A14;
  padding: 10px 20px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.5);
  border: none;
  font-size: 18px;
  color: white !important;
  transition: 0.2s all;
  outline: none !important;

  &:hover {
    background: #FF8414;
    cursor: pointer;
    text-decoration: none !important;
  }
}

.video-16x9 {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  max-width: 100%;
  max-height: 100%;

  @media screen and (min-width: 768px) {
    width: 560px;
    height: 315px;
    padding-bottom: 0;
  }
}

.video-16x9 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sticker {
  background: white;
  padding: 10px;
  border-radius: 1px;
  border: 1px solid #eee;
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.5);

  img {
    width: 100%;
    height: 100%;
  }
}

button {
  outline: none !important;
}

form {
  .prompt {
    opacity: 1;
    font-size: 16px;
  }

  label {
    opacity: 0.75;
  }

  .req {
    display: inline-block;
    margin-left: 10px;
    font-size: 10px;
    opacity: 0.66;
  }

  .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }

  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }
}
