.account {
  background: cornsilk;
  min-height: 100vh;
}

.no-acct {
  font-size: 12px;
  opacity: 0.75;
  margin: 0;
}

.container {
  padding-top: 120px;
  padding-bottom: 40px;
  font-family: short-stack, sans-serif;

  @media screen and (min-width: 768px) {
    padding: 200px 0 40px 0;
  }

  .account-nav, .account-content {
    background: white;
    border-radius: 4px;
    padding: 20px 30px;
  }

  .account-info {
    .welcome {
      margin: 0;
    }

    .member-since {
      opacity: 0.75;
      font-size: 12px;
    }
  }

  .account-controls {
    padding: 10px 0 0 0;
    border-top: 1px solid #aaa;
    margin-top: 20px;
  }
}
