<tto-navbar></tto-navbar>

<div class="account">
  <div class="container">
    <div class="row row-no-gutters">
      <div class="col-md-4">
        <div class="account-nav shadow">
          <h4>My Account</h4>

          <div class="account-info" *ngIf="!user">
            <p class="welcome">You aren't logged in, or haven't created an account yet.</p>

            <div class="account-controls d-flex flex-column" *ngIf="!user">
              <button class="btn btn-primary mb-2" (click)="login()"><fa-icon icon="sign-in-alt" class="mr-2"></fa-icon>Login</button>
              <button class="btn btn-primary mb-2" [routerLink]="['/account/new']"><fa-icon icon="user-plus" class="mr-2"></fa-icon>Create New Account</button>
              <button class="btn btn-secondary" (click)="accountRecovery()"><fa-icon icon="question-circle" class="mr-2"></fa-icon>Account Recovery</button>
            </div>
          </div>

          <div class="account-info" *ngIf="user">
            <p class="welcome mb-2">Hi, {{user.firstName}}!</p>
            <p class="member-since m-0">Logged in: {{user.lastLogin | humanizeDate}}</p>
            <p class="member-since m-0">Account created: {{user.createdDate | humanizeDate}}</p>
            <div class="account-controls d-flex flex-column">
              <button class="btn btn-secondary mb-2" (click)="logout()">Logout<fa-icon icon="sign-out-alt" class="ml-2"></fa-icon></button>
              <button class="btn btn-secondary mb-2" [routerLink]="['/account/reset']"><fa-icon icon="user-edit" class="mr-2"></fa-icon>Change Password</button>
              <button class="btn btn-danger" (click)="deleteAccount()"><fa-icon icon="user-times" class="mr-2"></fa-icon>Delete My Account</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="account-content shadow">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
