<tto-navbar></tto-navbar>

<div class="home view">
  <div class="container-fluid splash shadow">
    <div class="row justify-content-center">
      <div class="col-12 d-flex align-items-end justify-content-center">
        <h1 class="tagline">Art Inspires</h1>
      </div>
    </div>
  </div>

  <div class="under-splash">
    <div class="container-fluid link-cards">
      <div class="row justify-content-center">

        <div class="col-lg-3 col-md-4 col-sm-10 d-flex">
          <div class="link-card blue shadow" [routerLink]="['/arts-integration']">
            <div class="image-container">
              <img class="link-card-image" src="assets/pictures/in-the-classroom-card.webp">
            </div>
            <div class="link-card-body">
              <img class="link-card-body-title" src="assets/nav/in-the-classroom-blue.webp">
              <p class="link-card-body-text">Explore theatre games and lesson plans to incorporate in the classroom.</p>
              <h4 class="link-card-body-cta">Explore</h4>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-10 d-flex">
          <div class="link-card green shadow" [routerLink]="['/at-home']">
            <div class="image-container">
              <img class="link-card-image" src="assets/pictures/at-home-card.webp">
            </div>
            <div class="link-card-body">
              <img class="link-card-body-title" src="assets/nav/at-home-green.webp">
              <p class="link-card-body-text">Discover theatre games and activities to share with family and friends at home.</p>
              <h4 class="link-card-body-cta">Discover</h4>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-10 d-flex">
          <div class="link-card orange shadow" [routerLink]="['/playwrights-pal']">
            <div class="image-container">
              <img class="link-card-image" src="assets/pictures/playwrights-pal-card.webp">
            </div>
            <div class="link-card-body">
              <img class="link-card-body-title" src="assets/nav/playwrights-pal-orange.webp">
              <div class="d-flex flex-column justify-content-between">
                <p class="link-card-body-text">Experience our interactive play-creation tool and write your very own play.</p>
                <h4 class="link-card-body-cta">Create</h4>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="container-fluid about">

      <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12 header">
          <h1>About Us</h1>
          <p>We are here to help teachers of all grades to infuse any subject matter with the fun of theatre.</p>
        </div>
      </div>

      <div class="row justify-content-center mt-4 about-details">
        <div class="col-12 d-flex justify-content-center">
          <img class="t-sticker" src="assets/stickers/teralyn.svg">
        </div>
      </div>

      <div class="row justify-content-center mt-4">
        <div class="col-md-8 col-sm-12">
          <h3>Teachers</h3>
          <p>We are here to provide you with completed arts-infused lesson plans, classroom plays that teach curriculum, theatre activities you can integrate into your lesson plans, Professional Development seminars, and support. <a [routerLink]="['/teacher-tools']">Click here</a> for more information.</p>

          <h3>Aspiring Theatre Actors</h3>
          <p>Our professional Teaching Artists offer private lessons and classes for beginners, intermediates and advanced students. During the COVID pandemic, only online one-on-one sessions are available. Email Teralyn at <a href="mailto:teralyn@theatreteacher.org">teralyn@theatreteacher.org</a>.</p>

          <h3>All</h3>
          <p>Whether you are a beginner storyteller or someone looking for ways to expand your storytelling into plays, you will enjoy creating your very own plays with our exclusive <a [routerLink]="['/playwrights-pal']">Playwright's Pal</a>, an interactive play-creation tool that allows writers of all ages to write, design, and ultimately perform their very own play.</p>
        </div>
      </div>

    </div>

    <div class="container-fluid contact">
      <div class="row justify-content-center">

        <div class="col-md-4">
          <h1>Get In Touch</h1>

          <div class="d-flex flex-column">
            <div class="email d-flex align-items-center mb-4">
              <fa-icon icon="envelope" class="mr-4"></fa-icon>
              <a href="mailto:teralyn@theatreteacher.org">teralyn@theatreteacher.org</a>
            </div>

            <div class="address d-flex mb-4">
              <fa-icon icon="map-marker" class="mr-4"></fa-icon>
              <div>
                <p class="m-0">P.O. Box 2248</p>
                <p class="m-0">Mt. Pleasant, SC 29465</p>
              </div>
            </div>

            <div class="social mb-4">
              <a href="https://www.facebook.com/theatreteacher.org"><fa-icon [icon]="['fab', 'facebook-f']"></fa-icon></a>
              <a href="https://www.instagram.com/storytreesc/"><fa-icon [icon]="['fab', 'instagram']"></fa-icon></a>
              <a href="https://vimeo.com/theatreteacher"><fa-icon [icon]="['fab', 'vimeo']"></fa-icon></a>
            </div>

          </div>


          <tto-mailing-list-link [isButton]="true"></tto-mailing-list-link>
        </div>

      </div>
    </div>

    <tto-footer></tto-footer>
  </div>

</div>

