.home {

  .splash {
    background-image: url('../../../assets/pictures/gaillard-curtain.jpg');
  }

  .link-cards {
    background-color: rgb(246, 204, 176);
    padding-top: 80px;
    padding-bottom: 80px;

    .link-card {
      margin: 0 10px 40px 10px;
      cursor: pointer;
      transition: 0.25s ease-out all;

      @media screen and (min-width: 768px) {
        margin-bottom: 0;

        .link-card-body-title {
          width: 90%;
        }

        .link-card-body {
          padding-top: 33%;
        }
      }

      .image-container {
        width: 100%;
        max-height: 380px;
        overflow: hidden;
      }

      .link-card-image {
        width: 100%;
      }

      .link-card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding-top: 25%;

        .link-card-body-title {
          width: 75%;
          top: -75px;
        }

        .link-card-body-text {
          font-family: short-stack, sans-serif;
          color: white;
          text-align: center;
          margin: 10px 20px;
        }

        .link-card-body-cta {
          font-family: short-stack, sans-serif;
          color: white;
          text-align: center;
          font-size: 26px;
          margin: 20px 0;
          font-style: italic;
        }
      }

      &.blue {
        background-color: rgb(13, 94, 186)
      }

      &.green {
        background-color: rgb(134, 192, 145);
      }

      &.orange {
        background-color: rgb(229, 112, 34);
      }

      &:hover {
        transform: scale(1.025);
      }
    }
  }

  .about {
    background: white;
    padding-top: 80px;
    padding-bottom: 80px;

    p {
      font-family: short-stack, sans-serif;
    }

    .header {
      text-align: center;

      h1 {
        font-family: Baskerville, sans-serif;
        font-style: italic;
      }
    }

    .t-sticker {
      width: 100%;
      max-width: 400px;
      border-radius: 50%;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
      padding: 10px;
    }

    h3 {
      color: rgb(229, 112, 34);
      font-family: Baskerville, serif;
      font-style: italic;
      width: 100%;
      text-align: center;
    }

    p {
      margin-bottom: 20px;
    }

    a {
      color: rgb(229, 112, 34);
    }
  }

  .contact {
    color: white;
    background-color: rgb(4, 31, 62);
    padding-top: 80px;
    padding-bottom: 80px;

    h1 {
      margin-bottom: 20px;
      font-family: Baskerville, serif;
      font-style: italic;
    }

    a {
      color: white;
    }

    .social {
      a {
        font-size: 40px;
        margin-right: 20px;
      }
    }
  }
}
