<div class="login">
  <div class="modal-header" *ngIf="modal">
    <h4 class="modal-title">Login</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true"><fa-icon icon="times"></fa-icon></span>
    </button>
  </div>
  <div class="login-content" [class.modal-body]="modal">
    <p class="alert alert-danger mb-2" *ngIf="error">{{error}}</p>

    <form #loginForm="ngForm" (ngSubmit)="login()">

      <div class="form-group">
        <label for="username">Username or email<span class="req">required</span></label>
        <input type="text" class="form-control" id="username"  name="username" maxlength="100"
               required
               [(ngModel)]="model.username"
               #username="ngModel"
        >
      </div>
      <div [hidden]="username.valid || username.pristine" class="alert alert-danger">Username is required.</div>


      <div class="form-group">
        <label for="password">Password<span class="req">required</span></label>
        <input type="password" class="form-control" id="password"  name="password" maxlength="100"
               required
               [(ngModel)]="model.password"
               #password="ngModel"
        >
      </div>
      <div [hidden]="password.valid || password.pristine || error" class="alert alert-danger">Password is required.</div>


      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-success pl-4 pr-4" [disabled]="!loginForm.form.valid || submitting">
          Login
          <fa-icon icon="sign-in-alt" class="ml-2" *ngIf="!submitting"></fa-icon>
          <fa-icon icon="spinner" [spin]="true" class="ml-2" *ngIf="submitting"></fa-icon>
        </button>
      </div>

    </form>
  </div>
</div>
