<tto-navbar></tto-navbar>

<div class="at-home view">

  <div class="splash view-page shadow w-100">
    <div class="image-container">
      <img src="assets/pictures/at-home-splash.jpg">
    </div>
  </div>

  <div class="under-splash line-paper-30">
    <div class="container shift-up">

      <div class="row title-row align-items-center">
        <div class="col-md-4 title-container">
          <img class="page-title" src="assets/nav/at-home-green.webp">
        </div>
        <div class="col-md-8">
          <tto-quote direction="right" text="These are theatre games and activities you can do in your home with your family.  No stage required!"></tto-quote>
        </div>
      </div>

      <div class="row mt-4 mb-4">

        <div class="col-md-12 col-lg-6">

          <div class="game paper-card pt-0 mb-4">
            <div class="header">
              <p class="name">Write a Play</p>
            </div>

            <p class="info ages"><fa-icon icon="child" [fixedWidth]="true" class="mr-2"></fa-icon>Recommended playwright age 6+</p>
            <p class="info materials"><fa-icon icon="box-open" [fixedWidth]="true" class="mr-2"></fa-icon><a href="assets/downloads/misc/script-outline.pdf" target="_blank">Script outline</a></p>

            <p class="description mt-3">1. Choose up to three characters.</p>
            <p class="description">2. Choose a setting.</p>
            <p class="description">3. Choose a problem.</p>
            <p class="description">4. Use the <a href="assets/downloads/misc/script-outline.pdf" target="_blank">script outline</a> to write the dialog.</p>
            <p class="description">5. Perform your play!</p>
          </div>

        </div>

        <div class="col-md-12 col-lg-6">

          <div class="game paper-card pt-0 mb-4">
            <div class="header">
              <p class="name">Put on a Play</p>
            </div>

            <p class="info players"><fa-icon icon="users" [fixedWidth]="true" class="mr-2"></fa-icon>Actors and audience members*</p>
            <p class="info ages"><fa-icon icon="child" [fixedWidth]="true" class="mr-2"></fa-icon>Recommended actor age 6+</p>
            <p class="info materials"><fa-icon icon="box-open" [fixedWidth]="true" class="mr-2"></fa-icon>Any props or costumes you have (real or imaginary)</p>

            <p class="description mt-3">Perform <a href="assets/downloads/scripts/princess-penelope-and-the-dragon.pdf" target="_blank">Princess Penelope and the Dragon</a>.</p>
            <p class="description">* Your audience can totally be your stuffed animal collection.  So can the actors.</p>
          </div>

        </div>

      </div>

      <div class="row mb-4">

        <div class="col-md-12 col-lg-6">

          <div class="game paper-card pt-0 mb-4">
            <div class="header">
              <p class="name">Audition Prep</p>
            </div>

            <p class="info ages"><fa-icon icon="child" [fixedWidth]="true" class="mr-2"></fa-icon>Ages 10+</p>
            <p class="info materials"><fa-icon icon="box-open" [fixedWidth]="true" class="mr-2"></fa-icon><a href="assets/downloads/misc/shakespeare-workshop-packet.pdf" target="_blank">Worksheet</a></p>

            <p class="description mt-3">Prep your monologue, so you can confidently walk into that audition ready to share your talent and professionalism and get the part! Click on the accompanying document for tips on picking a monologue.</p>
            <p class="description">To be used with the accompanying <a href="assets/downloads/misc/how-to-choose-a-monologue.pdf" target="_blank">Worksheet</a>.</p>
            <div class="video-16x9">
              <iframe src="https://player.vimeo.com/video/672906751" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>

        </div>

        <div class="col-md-12 col-lg-6">

          <div class="game paper-card pt-0 mb-4">
            <div class="header">
              <p class="name">Discover Shakespeare</p>
            </div>

            <p class="info ages"><fa-icon icon="child" [fixedWidth]="true" class="mr-2"></fa-icon>Ages 8+</p>
            <p class="info materials"><fa-icon icon="box-open" [fixedWidth]="true" class="mr-2"></fa-icon><a href="assets/downloads/misc/shakespeare-workshop-packet.pdf" target="_blank">Workshop Packet</a></p>

            <p class="description mt-3">Don't get caught up in the words, instead discover Shakespeare by enjoying the images he paints with them.</p>
            <p class="description">To be used with the accompanying <a href="assets/downloads/misc/shakespeare-workshop-packet.pdf" target="_blank">Workshop Packet</a>.</p>
            <div class="video-16x9">
              <iframe src="https://player.vimeo.com/video/500526274" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>

        </div>

      </div>

      <div class="row mb-4">

        <div class="col-md-12 col-lg-6">

          <div class="game paper-card pt-0 mb-4">
            <div class="header">
              <p class="name">Be a Play Critic</p>
            </div>

            <p class="info ages"><fa-icon icon="child" [fixedWidth]="true" class="mr-2"></fa-icon>Recommended critic age 5+</p>
            <p class="info materials"><fa-icon icon="box-open" [fixedWidth]="true" class="mr-2"></fa-icon>Something to watch the clips below and the <a href="assets/downloads/misc/performance-critique.pdf" target="_blank">Performance Critique</a> worksheet</p>

            <p class="description mt-3 mb-0">1. Watch the following clips:</p>
            <p class="description mb-0 ml-4"><a href="https://www.youtube.com/watch?v=BinAEeZYvqc" target="_blank">Frozen</a></p>
            <p class="description mb-0 ml-4"><a href="https://www.youtube.com/watch?v=1bTWWgPbSsw" target="_blank">Percy Jackson and the Lightning Thief</a></p>
            <p class="description ml-4"><a href="https://www.youtube.com/watch?v=aMmXWI-bxak" target="_blank">Spongebob</a></p>
            <p class="description">2. Use the <a href="assets/downloads/misc/performance-critique.pdf" target="_blank">Performance Critique</a> worksheet to critique the play.</p>
          </div>

        </div>

        <div class="col-md-12 col-lg-6">

          <div class="game paper-card pt-0 mb-4">
            <div class="header">
              <p class="name">Act Out a Story</p>
            </div>

            <p class="info ages"><fa-icon icon="child" [fixedWidth]="true" class="mr-2"></fa-icon>Ages 3+</p>
            <p class="info materials"><fa-icon icon="box-open" [fixedWidth]="true" class="mr-2"></fa-icon>Your favorite picture book</p>
            <p class="info space"><fa-icon icon="ruler" [fixedWidth]="true" class="mr-2"></fa-icon>Your living room or bedroom</p>

            <p class="description mt-3">Steps:</p>
            <p class="description">1. Read the book. Ask the questions: Who are the characters? Where did it take place? What happened?</p>
            <p class="description">2. Read the book again, stopping on each page and have the child act it out. Feel free to join in.</p>
            <p class="description">3. Try to act out the book a third time without reading the book.</p>
          </div>

        </div>

      </div>

      <div class="row mb-4 mt-4">

        <div class="col-md-12 col-lg-6">

          <div class="game paper-card pt-0 mb-4">
            <div class="header">
              <p class="name">Improv Challenge: Props</p>
            </div>

            <p class="info ages"><fa-icon icon="child" [fixedWidth]="true" class="mr-2"></fa-icon>Recommended ages 7+</p>
            <p class="info materials"><fa-icon icon="box-open" [fixedWidth]="true" class="mr-2"></fa-icon>At least three things from your house that can be held in your hand</p>
            <p class="info space"><fa-icon icon="ruler" [fixedWidth]="true" class="mr-2"></fa-icon>Your living room</p>

            <p class="description mt-3">How to play:</p>
            <p class="description">1. Place the home objects in front of you.</p>
            <p class="description">2. Pick up a prop, and SHOW what it is by how you use it AND with one sentence.</p>
            <p class="description">3. Hand it to the next person and have them turn it into something completely different.</p>
            <p class="description">4. Repeat</p>
            <p class="description">Here's an example: <a href="https://www.youtube.com/watch?v=5jJ0QdZyCgo" target="_blank">Using Fun Props for Theater Games for Kids</a>.</p>
          </div>

        </div>

        <div class="col-md-12 col-lg-6">

          <div class="game paper-card pt-0 mb-4">
            <div class="header">
              <p class="name">Stuffed Performance</p>
            </div>

            <p class="info ages"><fa-icon icon="child" [fixedWidth]="true" class="mr-2"></fa-icon>Ages 3+</p>
            <p class="info materials"><fa-icon icon="box-open" [fixedWidth]="true" class="mr-2"></fa-icon>Your stuffed animal collection</p>
            <p class="info space"><fa-icon icon="ruler" [fixedWidth]="true" class="mr-2"></fa-icon>Your living room or bedroom</p>

            <p class="description mt-3">Steps:</p>
            <p class="description mb-0">1. Decide on an event for your stuffed animals.  Here are some to get you started:</p>
            <p class="description ml-4 mb-0">- Firefighters putting out a fire</p>
            <p class="description ml-4 mb-0">- Dance party</p>
            <p class="description ml-4 mb-0">- Alien invasion</p>
            <p class="description ml-4">- In school learning</p>
            <p class="description">2. Pose your stuffed animals to match your scene.</p>
            <p class="description">3. Have someone guess the scene.</p>
          </div>

        </div>

      </div>

      <div class="row mt-4 mb-4">

        <div class="col-md-12 col-lg-6">

          <div class="game paper-card pt-0 mb-4">
            <div class="header">
              <p class="name">Be a Movie Critic</p>
            </div>

            <p class="info ages"><fa-icon icon="child" [fixedWidth]="true" class="mr-2"></fa-icon>Ages 5+</p>
            <p class="info materials"><fa-icon icon="box-open" [fixedWidth]="true" class="mr-2"></fa-icon>Your favorite (or least favorite) movie and a printer</p>
            <p class="info materials"><fa-icon icon="utensils" [fixedWidth]="true" class="mr-2"></fa-icon>Some snacks (optional)</p>

            <p class="description mt-3">Steps:</p>
            <p class="description">1. Watch chosen movie.  Eat snacks (if desired).</p>
            <p class="description">2. Print the <a href="assets/downloads/misc/movie-critique.pdf" target="_blank">Movie Critic</a> worksheet.</p>
            <p class="description">3. Critique the movie.</p>
          </div>

        </div>

        <div class="col-md-12 col-lg-6">

          <div class="game paper-card pt-0 mb-4">
            <div class="header">
              <p class="name">Spot the Difference</p>
            </div>

            <p class="info people"><fa-icon icon="users" [fixedWidth]="true" class="mr-2"></fa-icon>2 or more players</p>
            <p class="info ages"><fa-icon icon="child" [fixedWidth]="true" class="mr-2"></fa-icon>Ages 3+</p>
            <p class="info space"><fa-icon icon="ruler" [fixedWidth]="true" class="mr-2"></fa-icon>One room in your house</p>

            <p class="description mt-3">Steps:</p>
            <p class="description">1. Choose a room in your house.</p>
            <p class="description">2. Observe and memorize everything you can inside it.</p>
            <p class="description">3. Invite the other player(s) to change three things about the room while you step outside.</p>
            <p class="description">4. Go back into the room and try to spot the three things that were changed.</p>
          </div>

        </div>

      </div>

      <div class="row mt-4 mb-4">

        <div class="col-md-12 col-lg-6">

          <div class="game paper-card pt-0 mb-4">
            <div class="header">
              <p class="name">Puppet Show</p>
            </div>

            <p class="info ages"><fa-icon icon="child" [fixedWidth]="true" class="mr-2"></fa-icon>Ages 4+</p>
            <p class="info materials"><fa-icon icon="box-open" [fixedWidth]="true" class="mr-2"></fa-icon>Create <a href="https://www.easypeasyandfun.com/easter-craft-stick-puppets/" target="_blank">puppets</a>, canvas and paints*</p>

            <p class="description mt-3">1. Talk about the ingredients of the story - characters, setting, and problem.</p>
            <p class="description">2. Create puppets (usually 2 a piece) - Hint: This is a good time to talk about the "ingredients of the story, and what your story might be about.</p>
            <p class="description">3. Give the puppets a name and choose their setting.</p>
            <p class="description">4. Paint/create a setting using canvas and paints (or just use what you have).</p>
            <p class="description">5. Set up the setting and perform your story.</p>
            <p class="description">Tips: Help your child create dialogue with questions, for example 'what would you like to do today?'</p>
            <p class="description">Follow your child's imagination. Let them take you on the adventure.</p>
            <p class="description">* If you don't have these things, you can always use what you have. Stuffed animals, paper, pencils, or create a set with blankets and pillows. </p>
            <div class="video-16x9">
              <iframe src="https://player.vimeo.com/video/500518123" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>

        </div>

        <div class="col-md-12 col-lg-6">
          <div class="game paper-card pt-0 mb-4">
            <div class="header">
              <p class="name">Cold Reading Prep</p>
            </div>

            <p class="info ages"><fa-icon icon="child" [fixedWidth]="true" class="mr-2"></fa-icon>Ages 10+</p>

            <p class="description mt-3">In this quick 5-minute video, discover what a Cold Read is, when you see it, how to prep, and tips to be successful.</p>
            <div class="video-16x9">
              <iframe src="https://player.vimeo.com/video/689772507" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>

      </div>

      <div class="row mt-4">
        <div class="col-12">
          <tto-quote direction="left" text="There's also more fun games on our 'In the Classroom' page!"></tto-quote>
        </div>
      </div>

    </div>

    <tto-footer></tto-footer>
  </div>
</div>
