:host {
}

.at-home {
  font-family: short-stack, sans-serif;

  .splash {
    .image-container {
      background-image: url('../../../assets/pictures/at-home-splash.jpg');
    }
  }

  .under-splash {
    background-color: white;
  }

  .title {
    font-size: 34px;
    color: #444;
    margin: 0;
  }

  .game {
    position: relative;

    .header {
      margin-left: -20px;
      margin-right: -20px;

      .name {
        padding: 10px 20px;
        box-shadow: 0 1px 1px 1px rgba(0,0,0,0.25);
        font-size: 1.2em;
        display: inline-block;
        margin-bottom: 5px;
        background-color: #fd7e14;
        color: white;
        position: relative;
        left: -5px;
        top: -5px;
      }

      .print {
        font-size: 2em;
        color: #444;
        border: none;
        background: none;
        outline: none;
        margin: 5px 5px 0 0;
        transition: 0.25s all;

        &:hover {
          cursor: pointer;
          color: black;
          transform: scale(1.1);
        }
      }
    }

    .info {
      margin: 0;
      font-size: 0.9em;
      color: #444;
    }

    .description {
      font-size: 0.8em;
      color: #666;
      margin-bottom: 0.8em;
    }
  }
}
