.script-helper {
  background: white;
  padding: 20px;

  h4 {
    font-size: 20px;
    display: flex;
    align-items: center;
  }

  .edit {
    background: transparent;
    color: #222;
    border: 2px solid #222;
    font-size: 14px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    opacity: 0.75;

    &:hover {
      opacity: 1.0;
      cursor: pointer;
    }
  }

  .characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .character {
      width: 48%;
      max-height: 150px;
      margin-bottom: 1%;
      border-radius: 10px;
      overflow: hidden;
      opacity: 0.8;
      transition: 0.25s opacity ease-out;
      border: 2px solid transparent;
      padding: 2px;
      display: flex;
      align-items: flex-start;
      justify-content: center;

      .character-image {
        width: 100%;
        border-radius: 10px;
      }

      &:hover {
        opacity: 1.0;
        cursor: pointer;
        border: 2px solid rgba(220, 125, 48, 0.5);
      }

      &.selected {
        border: 2px solid #dc7d30;
        opacity: 1.0;
      }
    }
  }

  &.sticky {
    background: red;
  }
}

.drag-preview {
  font-family: short-stack, sans-serif;
  border: 1px solid #dc7d30;
  border-radius: 10px;
  background: white;
  padding: 5px 10px;

  p {
    margin: 0;
  }
}

.play-page .lines-page.page {
  justify-content: flex-start;

  .lines {
    .line {
      .line-display {
        display: flex;
        align-items: flex-start;
        padding: 4px;
      }

      .line-text {
        margin: 0;
        flex-grow: 1;

        &.blocking, &.emotion {
          text-align: center;
          font-style: italic;
          margin: 20px 0;
        }

        &.dialogue {
          span {
            margin-right: 10px;
          }
        }
      }

      .controls {
        flex-grow: 0;
        display: flex;
        align-items: center;
        opacity: 0;

        .control {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 26px;
          height: 26px;
          background: transparent;
          color: #2C4D93;
          border: 1px solid #2C4D93;
          border-radius: 13px;
          opacity: 0.5;
          font-size: 14px;

          &:hover {
            opacity: 1.0;
            cursor: pointer;
          }

          &:first-of-type {
            margin-right: 5px;
          }
        }
      }

      &:hover:not(.editing) {
        cursor: move;
        background: rgba(220, 125, 48, 0.1);
        border-radius: 4px;

        .controls {
          opacity: 1.0;
        }
      }
    }
  }
}
