<div class="play-page play-lines-page">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-3">
        <div class="script-helper">
          <h4>Characters
            <button class="edit ml-2" routerLink="/playwrights-pal/script-writer/cast">
              <fa-icon icon="pen"></fa-icon>
            </button>
          </h4>
          <div class="characters">
            <div class="character"
                 *ngFor="let character of (activePlay$ | async).characters"
                 (click)="selectCharacter(character)"
                 [class.selected]="(selectedCharacter$ | async) && (selectedCharacter$ | async).id === character.id"
            >
              <img class="character-image" [src]="character.image">
            </div>
          </div>

          <hr/>

          <h4>Setting</h4>
          <img class="w-100" [src]="(activePlay$ | async).scene.image">

          <hr/>

          <h4>Problem</h4>
          <img class="w-100" [src]="(activePlay$ | async).problem.image">

          <hr/>

          <button class="btn btn-secondary" routerLink="/playwrights-pal/new-play/setting">
            <fa-icon icon="undo" class="mr-2"></fa-icon>
            Change This Stuff
          </button>
        </div>
      </div>

      <div class="col-md-9">
        <div class="lines-page page">
          <div class="lines"
               cdkDropList
               (cdkDropListDropped)="dropLine($event)"
          >
            <div class="line"
                 *ngFor="let line of (activePlay$ | async).lines"
                 cdkDrag
                 cdkDragLockAxis="y"
                 [cdkDragDisabled]="editingLine && editingLine.id === line.id"
                 [class.editing]="editingLine && editingLine.id === line.id"
                 [@fadeIn]
            >
              <div class="line-display" *ngIf="!editingLine || editingLine.id !== line.id">
                <p class="line-text"
                   [ngClass]="line.type"
                >
                  <span class="orange d-inline-block" *ngIf="line.character">{{line.character.name}}</span>
                  {{line.text}}
                </p>
                <div class="controls">
                  <button class="control" (click)="editLine(line)"><fa-icon icon="pen"></fa-icon></button>
                  <button class="control" (click)="removeLine(line)"><fa-icon icon="times"></fa-icon></button>
                </div>
              </div>

              <tto-line-creator
                *ngIf="editingLine && editingLine.id === line.id"
                [line]="line"
                (doneEditing)="editingLine = null"
              ></tto-line-creator>

              <div class="drag-preview line" *cdkDragPreview>
                <p class="line-text"
                   [ngClass]="line.type"
                >
                  <span class="orange d-inline-block" *ngIf="line.character">{{line.character.name}}</span>
                  {{line.text}}
                </p>
              </div>

            </div>
          </div>

          <tto-line-creator #mainLineCreator></tto-line-creator>

        </div>
      </div>

    </div>

  </div>
</div>
