.footer {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  color: #666;
  font-size: 12px;
  text-align: center;

  &.white {
    color: white;
  }
}

a {
  color: #F37A14;
  text-decoration: none;

  &:hover {
    color: #FF8414;
    text-decoration: underline;
    cursor: pointer;
  }

  &:visited {
    color: #F37A14;
  }
}
