<tto-navbar></tto-navbar>

<div class="performances view">

  <div class="splash view-page shadow w-100">
    <div class="image-container">
      <img src="assets/pictures/performances-splash.jpg">
    </div>
  </div>

  <div class="under-splash line-paper-30">
    <div class="container shift-up">

      <div class="row title-row align-items-center">
        <div class="col-md-4 title-container">
          <img class="page-title" src="assets/nav/performances-orange.png">
        </div>
        <div class="col-md-8">
          <tto-quote direction="right" text="We also create and perform original scripts and plays!  Here are a few of them."></tto-quote>
        </div>
      </div>

      <div class="row mt-4 mb-4">
        <div class="col-12">
          <div class="performance readers-theatre">
            <div class="title-container d-flex align-items-start">
              <p class="title mr-0">Reader's Theatre</p>
              <div class="title-addon d-flex flex-column">
                <span class="subtitle">powered by</span>
                <a [routerLink]="['/playwrights-pal']"><img src="assets/nav/playwrights-pal.png"></a>
              </div>
            </div>
            <div class="performance-details">
              <img src="assets/pictures/childperform.jpg">
              <div class="performance-info justify-content-between align-self-stretch">
                <div>
                  <p class="performance-text">Join us, as actors come together to perform works created by young playwrights. Using plays created in Laura's Youth Scriptwriting Workshop, young playwrights will have the opportunity to hear their works read aloud and have a follow-up discussion about their stories.</p>

                  <!--div class="mt-3 mb-3" *ngIf="performance.length || performance.cost">
                    <p class="performance-detail" *ngIf="performance.length"><fa-icon icon="clock" class="mr-2"></fa-icon>{{performance.length}}</p>
                    <p class="performance-detail" *ngIf="performance.cost">{{performance.cost}}</p>
                  </div-->
                </div>

                <!--a class="purchase action-btn" *ngIf="performance.buy" [href]="performance.buy">Email Teralyn to Purchase</a-->
              </div>
            </div>

            <div class="performance-details">
              <div class="d-flex flex-column">

                <div>
                  <h4>About the Plays</h4>
                  <p class="play-title mb-0">The Magnificent Show</p>
                  <p class="performance-detail mb-0">
                    <fa-icon icon="feather-alt" [fixedWidth]="true" class="mr-1"></fa-icon>
                    Playwright: Aleisabel Lick
                  </p>
                  <p class="performance-detail">
                    <fa-icon icon="theater-masks" [fixedWidth]="true" class="mr-1"></fa-icon>
                    A play for 9 characters
                  </p>
                  <p class="play-detail">"Oh my gosh, it is one the most wonderful things to be able to see my script being brought to life by all you wonderful people!
                    I’m 12 years old and have always had a passion for performing, acting, dancing and all that jazz. I love Broadway and also love to read!" - Aleisabel</p>
                </div>

                <div>
                  <p class="play-title mb-0">The Cave</p>
                  <p class="performance-detail mb-0">
                    <fa-icon icon="feather-alt" class="mr-1"></fa-icon>
                    Playwright: Milo
                  </p>
                  <p class="performance-detail">
                    <fa-icon icon="theater-masks" [fixedWidth]="true" class="mr-1"></fa-icon>
                    A play for 5 characters
                  </p>
                  <p class="play-detail">Miloh is 9 years old, and this is his first play written with Playwright‘s Pal, and his first time studying with Laura in her Scriptwriting Workshop.   In his free time, he enjoys playing with his puppy, going to the beach, and surfing!</p>
                </div>

              </div>
              <img src="assets/pictures/stagereading.jpg" class="right">
            </div>

            <div class="performance-details">
              <img src="assets/pictures/laura-cole-hs.jpg">
              <div class="d-flex flex-column">
                <h4>About Laura Cole and her program</h4>
                <p class="play-detail">Laura’s Youth Scriptwriting Workshop’s objective is to introduce and inspire a passion for storytelling.   Eight hour-long sessions will give students the opportunity to create and/or revise scripts, and are catered to each child’s goals and abilities.</p>
                <p class="play-detail">Laura Cole, who has a passion for Musical Theatre in particular, completed her BA in Musical Theatre Performance from Plymouth State University in NH, where she also studied Scriptwriting.  She has performed and directed across the United States and Canada with theatrical productions, including a children’s theatre touring company.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-4 mb-4" *ngFor="let performance of performances">
        <div class="col-12">
          <div class="performance">
            <p class="title">{{performance.title}}</p>
            <div class="performance-details">
              <img [src]="performance.image">
              <div class="performance-info justify-content-between align-self-stretch">
                <div>
                  <p class="performance-text">{{performance.text}}</p>

                  <div class="mt-3 mb-3" *ngIf="performance.length || performance.cost">
                    <p class="performance-detail" *ngIf="performance.length"><fa-icon icon="clock" class="mr-2"></fa-icon>{{performance.length}}</p>
                    <p class="performance-detail" *ngIf="performance.cost">{{performance.cost}}</p>
                  </div>
                </div>

                <a class="purchase action-btn" *ngIf="performance.buy" [href]="performance.buy">Email Teralyn to Purchase</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row title-row align-items-center">
        <div class="col-md-4 title-container">
          <img class="page-title" src="assets/nav/historical-performances-blue.webp">
        </div>
        <div class="col-md-8">
          <tto-quote direction="right" text="The Historical Performances below provide an example of how to perform a monologue while also giving a great history lesson on iconic figures in society."></tto-quote>
        </div>
      </div>

      <div class="row mt-4 mb-4" *ngFor="let performance of historicalPerformances">
        <div class="col-12">
          <div class="performance">
            <p class="title">{{performance.title}}</p>
            <a class="study-guide" [href]="performance.download" ngbTooltip="Download lesson plan">
              <fa-icon icon="file-download"></fa-icon>
            </a>
            <div class="performance-details">
              <img [src]="performance.image">
              <div class="performance-info">
                <p class="performance-quote">“{{performance.quote}}”</p>
                <p class="performance-text">{{performance.text}}</p>
              </div>
            </div>

            <div class="video p-4">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe [src]="performance.video" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>

      <tto-footer></tto-footer>
    </div>
  </div>
</div>
