.performances {
  font-family: short-stack, sans-serif;

  .splash {
    .image-container {
      background-image: url('../../../assets/pictures/performances-splash.jpg');
    }
  }

  .under-splash {
    background-color: white;
  }

  .title {
    font-size: 34px;
    color: #444;
    margin: 0;
  }
}

.performance {
  background: rgb(93, 134, 176);
  color: white;
  box-shadow: 0 1px 1px 1px rgba(0,0,0,0.25);
  position: relative;

  .study-guide {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 32px;
    opacity: 0.8;
    cursor: pointer;
    transition: 0.25s ease-out all;
    color: white;

    &:hover {
      opacity: 1.0;
    }
  }

  .title {
    padding: 10px 20px;
    background: rgb(160, 194, 232);
    color: #0e47ab;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,0.25);
    display: inline-block;
    position: relative;
    top: -5px;
    left: -2px;
    margin-right: 70px;
  }

  .performance-details {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    flex-direction: column;

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }

    img {
      width: 100%;
      border-radius: 10px;
      margin-right: 0;
      margin-bottom: 20px;

      @media screen and (min-width: 768px) {
        width: 25%;
        margin-right: 40px;
        margin-bottom: 0;
      }

      &.right {
        @media screen and (min-width: 768px) {
          width: 25%;
          margin-left: 40px;
          margin-right: 0;
          margin-bottom: 0;
        }
      }
    }

    .performance-info {
      display: flex;
      flex-direction: column;

      .performance-quote {
        font-size: 20px;
        font-style: italic;
        margin-bottom: 20px;

        @media screen and (min-width: 768px) {
          font-size: 32px;
        }
      }

      .performance-text {
        margin: 0;
        opacity: 0.75;
      }

      .performance-detail {
        font-size: 18px;
        color: white;
        margin: 0;
      }

      .purchase {

      }
    }
  }
}

.performance.readers-theatre {
  .title {

  }

  .title-addon {
    font-size: 12px;
    background: white;
    color: #0e47ab;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,0.25);
    padding: 8px 16px;
    position: relative;
    top: -20px;
    left: 10px;
    margin-bottom: -25px;

    img {
      height: 60px;
    }
  }

  .play-title {
    font-size: 20px;
    text-decoration: underline;
  }

  .play-detail {
    font-size: 14px;
  }
}
