.play-page {
  margin: 15px 0;

  .page {
    background: white;
    border-radius: 40px;
    padding: 40px 20px 80px 20px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;

    .page-turn {
      position: absolute;
      bottom: 20px;
      left: 20px;
      right: 20px;
      display: flex;
      justify-content: space-between;
    }
  }
}

.orange {
  color: #dc7d30;
}

.blue {
  color: #2C4D93;
}

.modal-body {
  font-family: short-stack, sans-serif;
}
