.script-writer {
  background: #232D4C;
  padding: 5px 0;
  font-family: short-stack, sans-serif;
}

.script-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #dc7d30;
  padding: 20px;
  border-radius: 35px;
  margin: 0 20px;
  height: 70px;

  .page-title {
    color: white;
    font-size: 20px;
    margin: 0;
    font-weight: bold;
  }

  .edit {
    background: transparent;
    color: white;
    border: 2px solid white;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    opacity: 0.75;

    &:hover {
      opacity: 1.0;
      cursor: pointer;
    }
  }

  .play-title-container {
    cursor: pointer;
    outline: none;

    .play-title {
      color: white;
      font-size: 24px;
      margin: 0;
      display: block;
      text-align: center;
    }

    .play-author {
      color: #333;
      font-size: 14px;
      margin: 0;
      display: block;
      text-align: center;
    }

    &:hover {
      .play-title {
        text-decoration: underline;
      }
    }
  }

  .save {
    background: #333;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
  }
}
