<div class="script-writer min-vh-100">
  <div class="script-nav">
    <div class="page-title">
      <button class="edit"
              [routerLink]="['/playwrights-pal/script-writer/script']"
              ngbPopover="Go to script writer"
              triggers="mouseenter:mouseleave"
      >
        <fa-icon icon="feather-alt"></fa-icon>
      </button>
    </div>
    <div class="play-title-container" [routerLink]="['/playwrights-pal/script-writer/title']">
      <p class="play-title">{{(activePlay$ | async).name || 'Untitled Play'}}</p>
      <p class="play-author" *ngIf="(user$ | async)">Written by: {{(user$ | async).firstName}}</p>
    </div>
    <div class="d-flex align-items-center">
      <button class="save mr-2"
              (click)="print()"
              ngbPopover="Print"
              triggers="mouseenter:mouseleave"
      >
        <fa-icon icon="print"></fa-icon>
      </button>
      <button class="save mr-4"
              (click)="save()"
              ngbPopover="Save"
              triggers="mouseenter:mouseleave"
      >
        <fa-icon *ngIf="!(saving$ | async)" icon="save"></fa-icon>
        <fa-icon *ngIf="(saving$ | async)" icon="spinner" [spin]="true"></fa-icon>
      </button>
      <button class="save" [routerLink]="['/account/library']">
        <fa-icon icon="times-circle" class="mr-2"></fa-icon>
        Exit
      </button>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>

<ng-template #noAccountModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title ss">Create an Account With Us?</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body ss">
    <p class="bold">Your play has been saved in your browser's cache.</p>
    <p>If you want to save your play to our cloud for later or have multiple plays at once, please create an account.  Don't worry, <span class="bold">you won't lose your progress when you navigate away from Playwright's Pal</span>.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary ss" (click)="c()">
      <fa-icon icon="user-plus" class="mr-2"></fa-icon>
      Create Account
    </button>
    <button type="button" class="btn btn-secondary ss" (click)="d('Cancel')">No Thanks</button>
  </div>
</ng-template>
