<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{=it.name}}</title>

  <style type="text/css">
    .script-printer {
      padding: 40px;
    }

    .character .character-name {
      font-size: 18px;
      font-weight: bold;
      margin: 0;
    }

    .character .character-description {
      font-size: 16px;
      font-style: italic;
      margin: 0;
    }

    .line {
      display: flex;
      align-items: flex-start;
      margin-bottom: 20px;
    }

    .line p {
      margin: 0;
    }

    .line .line-character {
      font-weight: bold;
    }

    .line.dialogue .line-character {
      margin-right: 20px;
    }

    .line.blocking {
      justify-content: center;
    }

    .line.blocking .line-character {
      margin-right: 10px;
    }

    .end {
      margin-top: 40px;
      font-style: italic;
      text-align: center;
    }
  </style>
</head>
<body>
<div class="script-printer">
  <h1 class="play-title text-center">{{=it.name}}</h1>
  {{? it.user}}
  <h4 class="text-center">by {{=it.user.firstName}} {{=it.user.lastName}}</h4>
  {{? }}
  <hr/>
  <h2 class="text-center">Setting</h2>
  {{? it.scene}}
  <p class="text-center">{{=it.scene.name}}</p>
  <p class="text-center">{{=it.scene.description}}</p>
  {{? }}
  <h2 class="text-center">Cast</h2>
  {{~it.characters :character}}
  <div class="character mb-4">
    <p class="character-name text-center">{{=character.name}}</p>
    <p class="character-description text-center">{{=character.description}}</p>
  </div>
  {{~}}
  <hr/>
  {{~it.lines :line}}
  <div class="line {{=line.type}}">
    {{? line.character}}
    <p class="line-character">{{=line.character.name}}</p>
    {{? }}
    <p class="line-text">{{=line.text}}</p>
  </div>
  {{~}}
</div>
</body>
</html>
